{% set arrayPhone = phone|split(' ') %}
<br/>Prénom : {{ firstname }}
<br/>Nom : {{ lastname }}
<br/>Date de naissance : {{ birthDate }}
<br/>Téléphone : {% if arrayPhone[0] is defined %} {{ arrayPhone[0] }} {% else %} Non renseigné {% endif %}
<br/>Téléphone2 : {% if arrayPhone[1] is defined %} {{ arrayPhone[1] }} {% else %} Non renseigné {% endif %}
<br/>Email : {{ email }}
<br/>Sujet : Demande de rappel de {{ firstname }} {{ lastname }}
<br/>Préférence de rappel : {{ contactDays|capitalize }}
{% if matin == 'true' %} Matin{% endif %}
{% if apresMidi == 'true' and matin == 'true' %} ou{% endif %}
{% if apresMidi == 'true' %} Après-midi{% endif %}
<br/>Message : {{ message|replace({"\n":'|', "\r":'|' }) }}