<br/>Prénom : {{ firstname }}
<br/>Nom : {{ lastname }}
<br/>Date de naissance : {{ birthDate }}
<br/>Email : {{ email }}
<br/>Sujet : Echange Mail de {{ firstname }} {{ lastname }}
<br/>Message : {{ message|replace({"\n":'|', "\r":'|' }) }}