<style>
    #header{
        text-align: right;
    }

</style>

<table style="width: 90%; margin: auto; font-family: Calibri, sans-serif">
    <tbody>
    <tr style="text-align: right;" id="header">
        <td style="padding: 30px; border-bottom: solid #0a2d82 3px"><img style="width: 200px;" width="200" src="{{ base_url }}/img/global_design/logo_MACIF_V2.png" title="title" alt=""/></td>
    </tr>
    <tr style="line-height: 25px; background-color: #f6f6f6; text-align: center;">
        <td style="padding: 30px;">
            <h1 style="color: #3a312c; font-family: Calibri, sans-serif;">Réinitialisation de mot de passe</h1>
            <br/>
            <p>
                Afin de réinitialiser votre mot de passe, veuillez continuer le processus via le lien suivant :

                <br/><br/>

                <div style="width: 100%; text-align: center">
                    <div style="background-color: #0a2d82; padding: 20px; width: 30%; margin: auto; min-width: 150px;">
                        <a style="text-decoration: none; color: white;" href="{{ base_url }}/resetpassword/{{ hash_id }}" title="Continuer le processus">Continuer le processus</a>
                    </div>
                    <br/>
                </div>

            </p>
        </td>
    </tr>
    <tr style="background-color: #0a2d82; color: white; font-size: 12px;">
        <td style="padding: 10px; text-align: center; border-top: solid #0a2d82 2px">
            <p style="letter-spacing: 5px;"></p>
        </td>
    </tr>
    </tbody>
</table>