<!DOCTYPE html>
<!--[if IE 9]><html class="ie ie9"> <![endif]-->
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130483074-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-130483074-2');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Stream-Techs">
    <meta name="description" content="Service Solidarité Coups Durs">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Service Solidarité Coups Durs">
    <meta name="mobile-web-app-capable" content="yes">

    <link rel="apple-touch-icon" href="{{ asset('img/icons/launcher-icon-2x.png') }}">
    <link rel="apple-touch-icon" href="{{ asset('img/icons/launcher-icon-2x.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('img/icons/touch-icon-ipad.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('img/icons/touch-icon-iphone-retina.png') }}">
    <link rel="apple-touch-icon" sizes="167x167" href="{{ asset('img/icons/touch-icon-ipad-retina.png') }}">

    <link rel="manifest" href="{{ asset('manifest.json') }}">

    <title>{% block title %}SOLIDARITÉ Coups durs - Votre espace service {% endblock %}</title>

    <!-- Favicons-->

    <link rel="shortcut icon" href="{{ asset('img/favicon.ico') }}" type="image/x-icon">

    <!-- BASE CSS -->

    <!-- ============== Resources style ============== -->
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/addtohomescreen.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.css"/>

    {% block stylesheets %}{% endblock %}

    <!--[if lt IE 9]>
    <script src="{{ asset('js/html5shiv.min.js') }}"></script>
    <script src="{{ asset('js/respond.min.js') }}"></script>
    <![endif]-->
</head>
{%  set attrTitle = "Macif"  %}
<body id="{% block bodyId %}{% endblock %}">
    <!--[if lte IE 8]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>.</p>
    <![endif]-->

    {% block content %}{% endblock %}

    <!-- Modal -->
    <div class="modal fade" id="menuModal" tabindex="-1" role="dialog" aria-labelledby="menuModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Menu</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body" style="padding: 0 15px 15px 15px;">
                    <a href="{{ path('theme', {'category': 'fragilite'}) }}" title="Surmonter les fragilités financières">
                        <div class="row action-link2">
                            <div class="col-xs-12">
                                <img src="{{ asset('img/global_design/icon/euro.png') }}" title="Surmonter les fragilités financières" alt="" width="50" />
                                Surmonter les fragilités financières
                            </div>
                        </div>
                    </a>
                    <a href="{{ path('theme', {'category': 'relation'}) }}" title="Gérer les relations aidants - aidés">
                        <div class="row action-link2">
                            <div class="col-xs-12">
                                <img src="{{ asset('img/global_design/icon/people.png') }}" title="Gérer les relations aidants - aidés" alt="" width="50" />
                                Gérer les relations aidants - aidés
                            </div>
                        </div>
                    </a>
                    <a href="{{ path('theme', {'category': 'aleas'}) }}" title="Faire face aux aléas de la vie">
                        <div class="row action-link2">
                            <div class="col-xs-12">
                                <img src="{{ asset('img/global_design/icon/hands.png') }}" title="Faire face aux aléas de la vie" alt="" width="50" />
                                Faire face aux aléas de la vie
                            </div>
                        </div>
                    </a>
                    <a href="{{ path('theme', {'category': 'equilibre'}) }}" title="Équilibrer santé et activité">
                        <div class="row action-link2">
                            <div class="col-xs-12">
                                <img src="{{ asset('img/global_design/icon/balance.png') }}" title="Équilibrer santé et activité" alt="" width="50" />
                                Équilibrer santé et activité
                            </div>
                        </div>
                    </a>
                    <a href="{{ path('main', {'page':'conseillerpersonnel'}) }}" title="Contacter mon conseiller personnel">
                        <div class="row action-link2">
                            <div class="col-xs-12">
                                <img src="{{ asset('img/global_design/icon/operator.png') }}" title="Contacter mon conseiller " alt="" width="50" />
                                Contacter mon conseiller
                            </div>
                        </div>
                    </a>
                    <a href="{{ url('compte') }}" title="Mon compte">
                        <div class="row action-link2">
                            <div class="col-xs-12">
                                <i class="fa fa-cog" aria-hidden="true" style="font-size:40px; margin-left: 10px; margin-right: 5px; vertical-align: sub; color:#d2d2d2"></i>
                                Mon compte
                            </div>
                        </div>
                    </a>
                    <a href="{{ url('auth') }}" title="Retour à l'accueil">
                        <div class="row action-link2">
                            <div class="col-xs-12">
                                <i class="fa fa-home" aria-hidden="true" style="font-size:40px; margin-left: 10px; margin-right: 5px; vertical-align: sub; color:#d2d2d2"></i>
                                Retour à l'accueil
                            </div>
                        </div>
                    </a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Modernizr runs quickly on page load to detect features -->
    <script src="{{ asset('js/modernizr.custom.js') }}"></script>

    <!-- ///////////////////\\\\\\\\\\\\\\\\\\\ -->
    <!-- ********** Resources jQuery ********** -->
    <!-- \\\\\\\\\\\\\\\\\\\/////////////////// -->

    <!-- * Libraries jQuery, Easing and Bootstrap - Be careful to not remove them * -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" ></script>
    <script src="//cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <script src="{{ asset('js/functions.js') }}"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="//cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.js"></script>
    <script src="{{ asset('js/addtohomescreen.js') }}"></script>
    <script type="text/javascript" src="//cdn.datatables.net/v/bs4/dt-1.10.21/b-1.6.2/kt-2.5.2/r-2.2.5/sp-1.1.1/datatables.min.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="//cdn.quilljs.com/1.3.6/quill.js"></script>

    <script type="text/javascript">
        $('.show-password').on('click', function(e){
            if($('input[name="password"]').attr('type') === 'password'){
                $('input[name="password"]').attr('type', 'text' ) ;
                $('.show-password').removeClass('fa-eye');
                $('.show-password').addClass('fa-eye-slash');
            }else{
                $('input[name="password"]').attr('type', 'password' ) ;
                $('.show-password').addClass('fa-eye');
                $('.show-password').removeClass('fa-eye-slash');
            }
            if($('input[name="password2"]').attr('type') === 'password'){
                $('input[name="password2"]').attr('type', 'text' ) ;
                $('.show-password').removeClass('fa-eye');
                $('.show-password').addClass('fa-eye-slash');
            }else{
                $('input[name="password2"]').attr('type', 'password' ) ;
                $('.show-password').addClass('fa-eye');
                $('.show-password').removeClass('fa-eye-slash');
            }
        });

        $('.scroll-top').on('click', function(e){
            window.scrollTo(0,0);
        });
        $( document ).ready(function() {

            if(!($(document).height() > $(window).height())){
                $('.scroll-top').hide();
            }

            /*Responsive Height Modal*/
            $('#menuModal').on('shown.bs.modal', function () {
                var defaultPaddingTop = 20;
                var defaultPaddingbottom = 15;
                if(($(window).height() < $("#menuModal .modal-dialog").outerHeight(true))){
                    var getHeightModal =  $("#menuModal .modal-dialog").outerHeight(true);
                    var getHeightModalHeader = $("#menuModal  .modal-header").outerHeight(true);
                    var getHeightModalBody = parseFloat($("#menuModal .modal-body").outerHeight(true));
                    var getHeigthBrowser = $(window).height();
                    var calcModalBodyOptimal = getHeigthBrowser - getHeightModalHeader - (getHeightModal - getHeightModalHeader - getHeightModalBody);

                    var heightTotalContent = 0;
                    var allHeightTotalContent = 0;
                    $('#menuModal  .action-link2').each(function( index,element ) {
                        if(index < 8){
                            heightTotalContent += $(this).height();
                            allHeightTotalContent += $(this).outerHeight(true);
                        }
                    });
                    var margeError = 10;

                    var paddingTotal = calcModalBodyOptimal - heightTotalContent - ( getHeightModalBody - allHeightTotalContent  ) - 5;
                    var padding = paddingTotal /16 + "px !important;";

                    $("#menuModal .action-link2").attr("style", "padding-top: "  + padding + "padding-bottom: "  + padding);

                }else {
                    $("#menuModal .action-link2").css("padding-top:","padding-top:" +  defaultPaddingTop + "px !important;" + " padding-bottom:" + "padding-bottom:" + defaultPaddingbottom + "px !important;" );
                }
            });

        });


    </script>

    <script type="text/javascript" src="{{ asset('js/plugins/tarteaucitron/tarteaucitron.js') }}"></script>

    <script type="text/javascript">
      tarteaucitron.init({
        "privacyUrl": "", /* Privacy policy url */

        "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
        "cookieName": "tarteaucitron", /* Cookie name */

        "orientation": "middle", /* Banner position (top - bottom) */
        "showAlertSmall": false, /* Show the small banner on bottom right */
        "cookieslist": true, /* Show the cookie list */

        "adblocker": false, /* Show a Warning if an adblocker is detected */
        "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
        "highPrivacy": true, /* Disable auto consent */
        "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */

        "removeCredit": true, /* Remove credit link */
        "moreInfoLink": true, /* Show more info link */
        "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */

        //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */

        "readmoreLink": "/cookiespolicy" /* Change the default readmore link */
      });
    </script>

    <script type="text/javascript">
      tarteaucitron.user.gtagUa = 'UA-155126653-1';
      tarteaucitron.user.gtagMore = function () { /* add here your optionnal gtag() */ };
      (tarteaucitron.job = tarteaucitron.job || []).push('gtag');
    </script>

    {% block javascripts %}{% endblock %}

    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/service-worker.js')
          .then(function(reg){
          }).catch(function(err) {
        });
      }
    </script>
</body>
</html>
