<h2 style="font-weight: bold; color: #3e3e3e;">Gestion des Articles</h2>
<hr/><br/>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <a href="javascript:void(0)" data-toggle="modal" data-target="#addsousthemeModal" class="pull-right btn btn-sm btn-info"><i class="fa fa-plus-circle"></i> Ajouter un article</a>

            <table id="table_soustheme" class="table table-bordered table-responsive table-striped table-sm">
                <thead>
                <tr>
                    <th style="text-align: center; vertical-align: middle;">Sous catégorie</th>
                    <th style="text-align: center; vertical-align: middle;">Theme</th>
                    <th style="text-align: center; vertical-align: middle; min-width: 100px">Titre</th>
                    <th style="text-align: center; vertical-align: middle; min-width: 200px">Photo</th>
                    <th style="text-align: center; vertical-align: middle; min-width: 100px">Contenu</th>
                    <th style="text-align: center; vertical-align: middle; min-width: 100px">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for theme in themeList %}
                    {% for soustheme in theme.sousthemes %}
                        <tr >
                            <td class="vertical-text-middle" style="width: 150px;">
                                {% if theme.souscategory is not empty %}
                                    {% if theme.souscategory == "gerer_budget_quotidien" %}
                                        Gérer son budget au quotidien
                                    {% elseif theme.souscategory == "sortir_des_difficultes" %}
                                        Sortir des difficultés
                                    {% elseif theme.souscategory == "accompagner_proche" %}
                                        Accompagner un proche logement
                                    {% elseif theme.souscategory == "mieux_vivre_aidant" %}
                                        Mieux vivre son rôle d'aidant
                                    {% elseif theme.souscategory == "faire_face_deces" %}
                                        Faire face au décès et au deuil
                                    {% elseif theme.souscategory == "gerer_divorce" %}
                                        Gérer un divorce / une séparation
                                    {% elseif theme.souscategory == "parcours_hospi" %}
                                        Bien vivre son parcours d'hospitalisation
                                    {% elseif theme.souscategory == "rebondir" %}
                                        Rebondir suite à la perte de son emploi
                                    {% elseif theme.souscategory == "probleme_sante" %}
                                        Traverser un problème de santé
                                    {% elseif theme.souscategory == "vie_famille" %}
                                        Prendre soin de sa vie de famille
                                    {% elseif theme.souscategory == "liberer_tension" %}
                                        Libérer les tensions
                                    {% endif %}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td class="vertical-text-middle">{{ theme.title }}</td>
                            <td class="vertical-text-middle">{{ soustheme.title }}</td>
                            <td class="vertical-text-middle"><img src="{{ soustheme.picture }}" alt="" title="" class="img-responsive"/></td>
                            <td class="">{{ soustheme.content|raw|nl2br }}</td>
                            <td class="vertical-text-middle">
                                <a href="javascript:void(0)" custom-id="{{ soustheme.id }}" class="edit-soustheme btn btn-sm btn-info"><i class="fa fa-pencil"></i></a>
                                <a href="javascript:void(0)" custom-id="{{ soustheme.id }}" class="delete-soustheme btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>

            <!-- Modal -->
            <div class="modal fade" id="addsousthemeModal" tabindex="-1" role="dialog" aria-labelledby="addsousthemeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addsousthemeModalLabel">Ajouter un article</h5>
                            <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12">
                                    <label>Thème</label>
                                    <select id="add-soustheme-theme-id" class="form-control">
                                        {% for theme in themeList %}
                                            <option value="{{ theme.id }}">
                                                {% if theme.souscategory == "gerer_budget_quotidien" %}
                                                    Gérer son budget au quotidien
                                                {% elseif theme.souscategory == "sortir_des_difficultes" %}
                                                    Sortir des difficultés
                                                {% elseif theme.souscategory == "accompagner_proche" %}
                                                    Accompagner un proche logement
                                                {% elseif theme.souscategory == "mieux_vivre_aidant" %}
                                                    Mieux vivre son rôle d'aidant
                                                {% elseif theme.souscategory == "faire_face_deces" %}
                                                    Faire face au décès et au deuil
                                                {% elseif theme.souscategory == "gerer_divorce" %}
                                                    Gérer un divorce / une séparation
                                                {% elseif theme.souscategory == "parcours_hospi" %}
                                                    Bien vivre son parcours d'hospitalisation
                                                {% elseif theme.souscategory == "rebondir" %}
                                                    Rebondir suite à la perte de son emploi
                                                {% elseif theme.souscategory == "probleme_sante" %}
                                                    Traverser un problème de santé
                                                {% elseif theme.souscategory == "vie_famille" %}
                                                    Prendre soin de sa vie de famille
                                                {% elseif theme.souscategory == "liberer_tension" %}
                                                    Libérer les tensions
                                                {% endif %}
                                                - {{ theme.title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-12">
                                    <label>Photo</label>
                                    <input id="soustheme-picture-img" type='file'>
                                    <img id="soustheme-picture-thumb" style="max-width: 50%;">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-12">
                                    <label>Titre</label>
                                    <input id="add-soustheme-title" type='text' class="form-control">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-12">
                                    <input type="checkbox" id="addPictureOnly" onchange="toggleAddContent()"/> Photo seule
                                    <br/><br/>
                                    <div id="add-content">
                                        <label>Contenu</label>
                                        <div>
                                            <div id="add-soustheme-content" style="min-height: 200px"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                            <button type="button" id="add-soustheme" class="btn btn-info">Enregistrer</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="editsousthemeModal" tabindex="-1" role="dialog" aria-labelledby="editsousthemeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editsousthemeModalLabel">Modifier un article</h5>
                            <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12">
                                    <label>Thème</label>
                                    <select id="edit-soustheme-theme-id" class="form-control">
                                        {% for theme in themeList %}
                                            <option value="{{ theme.id }}">
                                                {% if theme.souscategory == "gerer_budget_quotidien" %}
                                                    Gérer son budget au quotidien
                                                {% elseif theme.souscategory == "sortir_des_difficultes" %}
                                                    Sortir des difficultés
                                                {% elseif theme.souscategory == "accompagner_proche" %}
                                                    Accompagner un proche logement
                                                {% elseif theme.souscategory == "mieux_vivre_aidant" %}
                                                    Mieux vivre son rôle d'aidant
                                                {% elseif theme.souscategory == "faire_face_deces" %}
                                                    Faire face au décès et au deuil
                                                {% elseif theme.souscategory == "gerer_divorce" %}
                                                    Gérer un divorce / une séparation
                                                {% elseif theme.souscategory == "parcours_hospi" %}
                                                    Bien vivre son parcours d'hospitalisation
                                                {% elseif theme.souscategory == "rebondir" %}
                                                    Rebondir suite à la perte de son emploi
                                                {% elseif theme.souscategory == "probleme_sante" %}
                                                    Traverser un problème de santé
                                                {% elseif theme.souscategory == "vie_famille" %}
                                                    Prendre soin de sa vie de famille
                                                {% elseif theme.souscategory == "liberer_tension" %}
                                                    Libérer les tensions
                                                {% endif %}
                                                - {{ theme.title }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-12">
                                    <label>Photo</label>
                                    <input id="edit-soustheme-picture-img" type='file'>
                                    <img id="edit-soustheme-picture-thumb" style="max-width: 50%;">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-12">
                                    <label>Titre</label>
                                    <input id="edit-soustheme-title" type='text' class="form-control">
                                </div>
                            </div>
                            <br>
                            <div class="row" id="edit-row-content">
                                <div class="col-12">
                                    <input type="checkbox" id="editPictureOnly" onchange="toggleEditContent()"/> Photo seule
                                    <br/><br/>
                                    <div id="edit-content">
                                        <label>Contenu</label>
                                        <div id="edit-soustheme-content" style="min-height: 200px"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" id="edit-soustheme-id" value="">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                            <button type="button" id="edit-soustheme" class="btn btn-info">Enregistrer</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    var toolbarOptions = [
        ['bold', 'italic', 'underline', 'strike', 'link'],        // toggled buttons
        ['blockquote', 'code-block'],

        [{ 'header': 1 }, { 'header': 2 }],               // custom button values
        [{ 'list': 'ordered'}, { 'list': 'bullet' }],
        [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
        [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
        [{ 'direction': 'rtl' }],                         // text direction

        [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
        [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

        [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
        [{ 'font': [] }],
        [{ 'align': [] }],

        ['clean'],                                         // remove formatting button
        ['image']
    ];

    var quill = new Quill('#add-soustheme-content', {
        modules: {
            toolbar: toolbarOptions
        },
        theme: 'snow'
    });
    var quill2 = new Quill('#edit-soustheme-content', {
        modules: {
            toolbar: toolbarOptions
        },
        theme: 'snow'
    });

    $(document).ready(function(){
        $('#table_soustheme').DataTable({
            "pagingType": "simple",
            "ordering": false,
            "language" : getDatatableFrench()
        });
    });

    $(".dataTables_length select").addClass("form-control");
    $(".dataTables_filter input").addClass("form-control");

    $('#add-soustheme').on('click', function (){

        var dataToSend = {
            title : $('#add-soustheme-title').val(),
            theme_id : $('#add-soustheme-theme-id :selected').val(),
            picture_base64 : $('#soustheme-picture-thumb').attr('src'),
            content : $('#add-soustheme-content').find('.ql-editor').html(),
            picture_only : $('#addPictureOnly').is(':checked'),
        };

        $.ajax({
            method: "POST",
            url: Routing.generate('addsoustheme'),
            dataType: 'json',
            data: dataToSend
        }).done(function( response ) {
            if(response.error !== undefined){
                swal.fire({
                    title: response.title,
                    text: response.error,
                    icon: "error",
                    confirmButtonText: "Fermer"
                }).then(function(isConfirm){
                    if (isConfirm.value !== undefined) {
                      $('#addsousthemeModal').modal('show');
                    }
                });
            }else{
                $('#addsousthemeModal').modal('hide');
                swal.fire({
                    title: 'ARTICLE AJOUTÉ',
                    text: 'L\'article a bien été ajouté',
                    icon: "success",
                    confirmButtonText: "Fermer"
                }).then(function(isConfirm) {
                  if (isConfirm.value !== undefined) {
                    getsousthemes();
                  }
                });
            }
        });
    });
    $('#soustheme-picture-img').on('change', function(){readFile(this, "soustheme-picture-thumb");});

    $('#edit-soustheme').on('click', function (){

        var dataToSend = {
            title : $('#edit-soustheme-title').val(),
            theme_id : $('#edit-soustheme-theme-id :selected').val(),
            picture_base64 : $('#edit-soustheme-picture-thumb').attr('src'),
            content : $('#edit-soustheme-content').find('.ql-editor').html(),
            soustheme_id : $('#edit-soustheme-id').val(),
            picture_only : $('#editPictureOnly').is(':checked'),
        };

        $.ajax({
            method: "POST",
            url: Routing.generate('modifysoustheme'),
            dataType: 'json',
            data: dataToSend
        }).done(function( response ) {
            if(response.error !== undefined){
                swal.fire({
                    title: response.title,
                    text: response.error,
                    icon: "error",
                    confirmButtonText: "Fermer"
                }).then(function(isConfirm) {
                    if (isConfirm.value !== undefined) {
                        $('#editsousthemeModal').modal('show');
                    }
                });
            }else{
                $('#editsousthemeModal').modal('hide');
                swal.fire({
                    title: 'ARTICLE MODIFIÉ',
                    text: 'L\'article a bien été modifié',
                    icon: "success",
                    confirmButtonText: "Fermer"
                }).then(function(isConfirm) {
                    if (isConfirm.value !== undefined) {
                        getsousthemes();
                    }
                });
            }
        });
    });
    $('#edit-soustheme-picture-img').on('change', function(){readFile(this,"edit-soustheme-picture-thumb");});

    $('#table_soustheme').on('click', '.delete-soustheme', function (){
        var sousthemeToDelete = $(this).attr('custom-id');

        swal.fire({
            title: "Etes vous sûr ?",
            text: "Aucun retour arrière ne sera possible.",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Confirmer",
            cancelButtonText: "Annuler",
            closeOnConfirm: false,
            closeOnCancel: false,
            showLoaderOnConfirm: true
        }).then(function(isConfirm) {
            if (isConfirm.value !== undefined) {
                deletesoustheme(sousthemeToDelete);
            } else {
                swal.fire("Annulé", "", "error");
            }
        });
    });
    $('#table_soustheme').on('click', '.edit-soustheme', function (){
        var sousthemeToEdit = $(this).attr('custom-id');
        var dataToSend = {
            soustheme_id : sousthemeToEdit,
        };

        $.ajax({
            method: "POST",
            url: Routing.generate('getsousthemebyid'),
            dataType: 'json',
            data: dataToSend
        }).done(function( response ) {
            if(response.error !== undefined){
                swal.fire({
                    title: response.title,
                    text: response.error,
                    icon: "error",
                    confirmButtonText: "Fermer"
                });
            }else{
                $('#edit-soustheme-content').val('');
                $('#edit-soustheme-content').find('.ql-editor').html('');
                $('#edit-soustheme-picture-thumb').attr('src', '');
                $('#edit-soustheme-picture-img').val('');
                $("option:selected").removeAttr("selected");
                $('#edit-soustheme-theme-id option[value="'+response.theme_id+'"]').attr('selected', 'selected');
                $('#edit-soustheme-picture-thumb').attr('src', response.picture);
                $('#edit-soustheme-title').val(response.title);
                $('#edit-soustheme-id').val(sousthemeToEdit);

                if(!response.picture_only){
                  $('#edit-soustheme-content').find('.ql-editor').html(response.content);
                  $('#edit-content').show();
                  $('#editPictureOnly').prop( "checked", false );
                }else{
                  $('#edit-content').hide();
                  $('#editPictureOnly').prop( "checked", true );
                }

                $('#editsousthemeModal').modal('show');
            }
        });
    });

    function deletesoustheme(idsoustheme){
        var dataToSend = {
            soustheme_id : idsoustheme,
        };

        $.ajax({
            method: "POST",
            url: Routing.generate('deletesoustheme'),
            dataType: 'json',
            data: dataToSend
        }).done(function( response ) {
            if(response.error !== undefined){
                swal.fire({
                    title: response.title,
                    text: response.error,
                    icon: "error",
                    confirmButtonText: "Fermer"
                });
            }else{
                swal.fire({
                    title: 'ARTICLE SUPPRIMÉ',
                    text: 'L\'article a bien été supprimé',
                    icon: "success",
                    confirmButtonText: "Fermer"
                });
                getsousthemes();
            }
        });
    }
    function readFile(element, thumbName) {
        console.log(thumbName);
        if (element.files && element.files[0]) {

            var FR= new FileReader();

            FR.addEventListener("load", function(e) {
                document.getElementById(thumbName).src = e.target.result;
            });

            FR.readAsDataURL( element.files[0] );
        }

    }

    function toggleAddContent(){
      $('#add-content').toggle();
    }

    function toggleEditContent(){
      $('#edit-content').toggle();
    }

</script>