<h2 style="font-weight: bold; color: #3e3e3e;">Gestion des clients</h2>
<hr/><br/>

<a href="{{ path('extract') }}" class="btn_outline_blue" title="exporter tous les clients"><i class="icon-upload-cloud"></i> Exporter au format excel</a>
<br/><br/>

<table data-order='[[ 0, "desc" ]]' id="table_client" class="table table-bordered table-striped table-sm">
    <thead>
    <tr>
        <th>#</th>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Email</th>
        <th>Téléphone</th>
        <th>Date de souscription</th>
        <th style="text-align: center; vertical-align: middle;">Status email</th>
        <th style="text-align: center; vertical-align: middle;">Status paiement</th>
        <th style="text-align: center; vertical-align: middle;">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for client in clientList %}
        <tr >
            <td class="vertical-text-middle" >{{ client.id}}</td>
            <td class="vertical-text-middle">{{ client.firstname|capitalize }}</td>
            <td class="vertical-text-middle">{{ client.lastname|upper }}</td>
            <td class="vertical-text-middle">{{ client.email }}</td>
            <td class="vertical-text-middle">{{ client.phone }}</td>
            <td class="vertical-text-middle">{{ client.subscription.first.createdAt|date("d/m/Y", "Europe/Paris") }}</td>
            <td class="vertical-text-middle">
                <span class="label
                {% if client.status == 'VALIDATED' %}
                    label-success
                {% else %}
                    label-warning
                {% endif %}
                ">
                    {{ client.status }}
                </span>
            </td>
            <td class="vertical-text-middle">
                <span class="label
                {% if client.subscription.first.status == 'VALIDATED' %}
                    label-success
                {% else %}
                    label-warning
                {% endif %}
                ">
                    {{ client.subscription.first.status }}
                </span>
            </td>
            <td class="vertical-text-middle" style="font-size: 24px;">
                <a href="javascript:void(0)" id="edit_client_{{ client.id }}" cs-id="{{ client.id }}" class="edit_client text-blue" title="Modifier"><i class="fa fa-pencil-square-o"></i></a>
                <a href="javascript:void(0)" id="delete_client_{{ client.id }}" cs-id="{{ client.id }}" class="delete_client text-red" title="Supprimer"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<script>
    $(document).ready(function(){
        $('#table_client').DataTable({
            "pagingType": "simple",
            "language" : getDatatableFrench()
        });
    });

    $(".dataTables_length select").addClass("form-control");
    $(".dataTables_filter input").addClass("form-control")

    var clientIdToDelete = 0;
    $("#table_client").on("click", ".delete_client", function(){

        clientIdToDelete = $(this).attr('cs-id');

      swal.fire({
        title: "Etes vous sûr ?",
        text: "Cette action supprimera toutes les informations du client.",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Confirmer",
        cancelButtonText: "Annuler",
        closeOnConfirm: false,
        closeOnCancel: false,
        showLoaderOnConfirm: true
      }).then(function(isConfirm) {
        if (isConfirm.value !== undefined) {
          deleteClient(clientIdToDelete);
        } else {
          swal.fire("Annulé", "", "error");
        }
      });
    });

    $('#table_client').on('click', ".edit_client", function(){

        $("#clientList").hide();
        $("#parameters").hide();
        $("#editClient").show();

        getClient($(this).attr('cs-id'));
    });

    function getClient(id){
        var dataToSend = {
            'id' : id,
        };

        $("#editClient").html('<i class="icon-spin5 animate-spin"></i> Chargement...');

        $.ajax({
            method: "POST",
            url: Routing.generate('getclient'),
            dataType: 'json',
            data: dataToSend
        }).done(function( response ) {
            $("#editClient").html(response['template_client_unique']);
        });
    }

    function deleteClient(clientId){

        var dataToSend = {
            'clientId' : clientId
        };

        $('#delete_client_'+clientId).html('<i class="icon-spin5 animate-spin"></i>');

        $.ajax({
            method: "POST",
            url: Routing.generate('deleteclient'),
            dataType: 'json',
            data: dataToSend
        }).done(function( response ) {
            if(response.error !== undefined){
                swal.fire({
                    title: response.title,
                    text: response.error,
                    icon: "error",
                    confirmButtonText: "Fermer"
                });
                $('#delete_client_'+categoryId).html('<i class="fa fa-trash"></i>');
            }else{
                swal.fire("Suppression!", "Le client à bien été supprimé.", "success");
                getClients();
            }
        });
    }
</script>