<h2 style="font-weight: bold; color: #3e3e3e;">Gestion des Thèmes</h2>
<hr/><br/>


<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <a href="#" data-toggle="modal" data-target="#addThemeModal" class="pull-right btn btn-info btn-sm"><i class="fa fa-plus-circle"></i> Ajouter un thème</a>
            <table id="table_theme" class="table table-bordered table-striped table-sm table-responsive">
                <thead>
                <tr>
                    <th style="text-align: center; vertical-align: middle;">Ordre</th>
                    <th style="text-align: center; vertical-align: middle; min-width: 100px">Status</th>
                    <th style="text-align: center; vertical-align: middle; min-width: 100px">Catégorie</th>
                    <th style="text-align: center; vertical-align: middle; min-width: 200px">Sous catégorie</th>
                    <th style="text-align: center; vertical-align: middle; min-width: 200px">Titre</th>
                    <th style="text-align: center; vertical-align: middle;">Photo</th>
                    <th style="text-align: center; vertical-align: middle;">Description</th>
                    <th style="text-align: center; vertical-align: middle; min-width: 100px">Type</th>
                    <th style="text-align: center; vertical-align: middle; min-width: 100px">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for theme in themeList %}
                    <tr >
                        <td class="vertical-text-middle" >
                            <a href="javascript:void(0)" class="move-up btn btn-sm btn-default" custom-id="{{ theme.id }}"><i class="fa fa-chevron-up"></i></a>
                            <a href="javascript:void(0)" class="move-down btn btn-sm btn-default" custom-id="{{ theme.id }}"><i class="fa fa-chevron-down"></i></a>
                        </td>
                        <td class="vertical-text-middle">
                            {% if theme.visible == true %}
                                {% if theme.expirationDate != '' and "now"|date('Y-m-d') > theme.expirationDate|date('Y-m-d') %}
                                    <span id='visible-button-{{ theme.id }}' onclick="toggleTheme({{ theme.id }})" class="btn btn-sm btn-warning">
                                        Expiré
                                    </span>
                                {% else %}
                                    <span id='visible-button-{{ theme.id }}' onclick="toggleTheme({{ theme.id }})" class="btn btn-sm btn-success">
                                        Visible
                                    </span>
                                {% endif %}
                            {% else %}
                                <span id='visible-button-{{ theme.id }}' onclick="toggleTheme({{ theme.id }})" class="btn btn-sm btn-warning">
                                    Masqué
                                </span>
                            {% endif %}
                        </td>
                        <td class="vertical-text-middle">
                            {% if theme.category == 'fragilite'%}
                                Surmonter les fragilités financières
                            {% elseif theme.category == 'relation' %}
                                Gérer les relations aidants - aidés
                            {% elseif theme.category == 'aleas' %}
                                Faire face aux aléas de la vie
                            {% else %}
                                Équilibrer santé et activité
                            {% endif %}
                        </td>
                        <td class="vertical-text-middle">
                            {% if theme.souscategory is not empty %}
                                {% if theme.souscategory == "gerer_budget_quotidien" %}
                                    Gérer son budget au quotidien
                                {% elseif theme.souscategory == "sortir_des_difficultes" %}
                                    Sortir des difficultés
                                {% elseif theme.souscategory == "accompagner_proche" %}
                                    Accompagner un proche logement
                                {% elseif theme.souscategory == "mieux_vivre_aidant" %}
                                    Mieux vivre son rôle d'aidant
                                {% elseif theme.souscategory == "faire_face_deces" %}
                                    Faire face au décès et au deuil
                                {% elseif theme.souscategory == "gerer_divorce" %}
                                    Gérer un divorce / une séparation
                                {% elseif theme.souscategory == "parcours_hospi" %}
                                    Bien vivre son parcours d'hospitalisation
                                {% elseif theme.souscategory == "rebondir" %}
                                    Rebondir suite à la perte de son emploi
                                {% elseif theme.souscategory == "probleme_sante" %}
                                    Traverser un problème de santé
                                {% elseif theme.souscategory == "vie_famille" %}
                                    Prendre soin de sa vie de famille
                                {% elseif theme.souscategory == "liberer_tension" %}
                                    Libérer les tensions
                                {% endif %}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td class="vertical-text-middle">{{ theme.title }}</td>
                        <td class="vertical-text-middle"><img src="{{ theme.picture }}" alt="" title="" class="img-fluid"/></td>
                        <td class="">
                            {% if theme.header == "" and theme.url != "" %}
                                {% if theme.type == 'video' or theme.type == 'external-video' %}
                                    <a href="{{ theme.url }}" target="_blank" title="Vidéo">{{ theme.title }}</a>
                                {% else %}
                                    <a href="{{ theme.url }}" target="_blank" title="E-learning">{{ theme.url }}</a>
                                {% endif %}
                            {% else %}
                                {{ theme.header|raw|nl2br }}
                            {% endif %}
                        </td>
                        <td class="vertical-text-middle">
                            {% if theme.type == 'external-video' %}
                                vidéo externe
                            {% else %}
                                {{ theme.type }}
                            {% endif %}
                        </td>
                        <td class="vertical-text-middle">
                            {% if theme.type != 'quizz' %}
                                <a href="javascript:void(0)" custom-id="{{ theme.id }}" class="edit-theme btn btn-sm btn-info"><i class="fa fa-pencil"></i></a>
                                <a href="javascript:void(0)" custom-id="{{ theme.id }}" class="delete-theme btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <!-- Modal -->
            <div class="modal fade" id="addThemeModal" tabindex="-1" role="dialog" aria-labelledby="addThemeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addThemeModalLabel">Ajouter un thème</h5>
                            <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-3">
                                    <label>Type</label>
                                    <select id="add-theme-type" class="form-control">
                                        <option value="fiche">Fiche</option>
                                        <option value="e-learning">E-learning</option>
                                        <option value="video">Vidéo</option>
                                        <option value="external-video">Vidéo externe</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row" id="row-photo">
                                <div class="col-12">
                                    <label>Photo</label>
                                    <input id="picture-img" type='file'>
                                    <img id="picture-thumb" style="max-width: 50%;">
                                </div>
                            </div>
                            <div class="row" id="row-url">
                                <div class="col-12">
                                    <label>URL E-learning</label>
                                    <input id="add-theme-url" type='text' class="form-control">
                                </div>
                            </div>
                            <div class="row" id="row-urlvideo">
                                <div class="col-12" id="classic-video">
                                    <label>Fichier vidéo (.mp4 < 50 Mo)</label>
                                    <input id="add-theme-video" type='file' class="form-control">
                                    <br/>
                                    <div class="progress">
                                        <div id="add-progress" class="progress-bar progress-bar-striped progress-bar-animated active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                                    </div>
                                </div>
                                <div class="col-12" id="external-video">
                                    <label for="add-theme-external-video">Url de la vidéo externe</label>
                                    <input id="add-theme-external-video" type='text' class="form-control" />
                                </div>
                                <div class="col-6">
                                    <label>Date d'expiration</label>
                                    <input id="add-theme-expiration-date" type='text' class="form-control" placeholder="Ex: 11/02/2019">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-6">
                                    <label>Catégorie</label>
                                    <select id="add-theme-category" class="form-control">
                                        <option value="fragilite">Surmonter les fragilités financières</option>
                                        <option value="relation">Gérer les relations aidants - aidés</option>
                                        <option value="aleas">Faire face aux aléas de la vie</option>
                                        <option value="equilibre">Équilibrer santé et activité</option>
                                    </select>
                                </div>
                                <div class="col-6">
                                    <label>Sous-catégorie</label>
                                    <select id="add-theme-souscategory" class="form-control">
                                        <option value="gerer_budget_quotidien">Gérer son budget au quotidien</option>
                                        <option value="sortir_des_difficultes">Sortir des difficultés</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-12">
                                    <label>Titre</label>
                                    <input id="add-theme-title" type='text' class="form-control">
                                </div>
                            </div>
                            <br>
                            <div class="row" id="row-chapeau">
                                <div class="col-12">
                                    <label>Chapeau</label>
                                    <div>
                                        <div id="add-theme-header" style="min-height: 200px"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                            <button type="button" id="add-theme" class="btn btn-primary">Enregistrer</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="editThemeModal" tabindex="-1" role="dialog" aria-labelledby="editThemeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editThemeModalLabel">Modifier un thème</h5>
                            <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-3">
                                    <label>Type</label>
                                    <select id="edit-theme-type" class="form-control">
                                        <option value="fiche">Fiche</option>
                                        <option value="e-learning">E-learning</option>
                                        <option value="video">Vidéo</option>
                                        <option value="external-video">Vidéo externe</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row" id="edit-row-photo">
                                <div class="col-12">
                                    <label>Photo</label>
                                    <input id="edit-picture-img" type='file'>
                                    <img id="edit-picture-thumb" style="max-width: 50%;">
                                </div>
                            </div>
                            <div class="row" id="edit-row-url">
                                <div class="col-12">
                                    <label>URL E-learning</label>
                                    <input id="edit-theme-url" type='text' class="form-control">
                                </div>
                            </div>
                            <div class="row" id="edit-row-urlvideo">
                                <div class="col-12" id="edit-classic-video">
                                    <strong>Vidéo actuelle :</strong> <a href="" id="edit-video-url" target="_blank">lien</a>
                                    <br/><br/>
                                    <label>Fichier vidéo (.mp4 < 50 Mo)</label>
                                    <input id="edit-theme-video" type='file' class="form-control">
                                    <br/>
                                    <div class="progress">
                                        <div id="edit-progress" class="progress-bar progress-bar-striped progress-bar-animated active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                                    </div>
                                </div>
                                <div class="col-12" id="edit-external-video">
                                    <label for="edit-theme-external-video">Url de la vidéo externe</label>
                                    <input id="edit-theme-external-video" type='text' class="form-control" />
                                </div>
                                <div class="col-6">
                                    <label>Date expiration</label>
                                    <input id="edit-theme-expiration-date" type='text' class="form-control" placeholder="Ex: 11/02/2019">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-6">
                                    <label>Catégorie</label>
                                    <select id="edit-theme-category" class="form-control">
                                        <option value="fragilite">Surmonter les fragilités financières</option>
                                        <option value="relation">Gérer les relations aidants - aidés</option>
                                        <option value="aleas">Faire face aux aléas de la vie</option>
                                        <option value="equilibre">Équilibrer santé et activité</option>
                                    </select>
                                </div>
                                <div class="col-6">
                                    <label>Sous-catégorie</label>
                                    <select id="edit-theme-souscategory" class="form-control">
                                        <option value="gerer_budget_quotidien">Gérer son budget au quotidien</option>
                                        <option value="sortir_des_difficultes">Sortir des difficultés</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-12">
                                    <label>Titre</label>
                                    <input id="edit-theme-title" type='text' class="form-control">
                                </div>
                            </div>
                            <br>
                            <div class="row" id="edit-row-chapeau">
                                <div class="col-12">
                                    <label>Chapeau</label>
                                    <div>
                                        <div id="edit-theme-header" style="min-height: 200px"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" id="edit-theme-id" value="">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                            <button type="button" id="edit-theme" class="btn btn-primary">Enregistrer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
  var toolbarOptions = [
    ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
    ['blockquote', 'code-block'],

    [{ 'header': 1 }, { 'header': 2 }],               // custom button values
    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
    [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
    [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
    [{ 'direction': 'rtl' }],                         // text direction

    [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

    [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
    [{ 'font': [] }],
    [{ 'align': [] }],

    ['clean']                                         // remove formatting button
  ];

  var quill = new Quill('#add-theme-header', {
    modules: {
      toolbar: toolbarOptions
    },
    theme: 'snow'
  });
  var quill2 = new Quill('#edit-theme-header', {
    modules: {
      toolbar: toolbarOptions
    },
    theme: 'snow'
  });

  $(document).ready(function(){
    $('#table_theme').DataTable({
      "pagingType": "simple",
      "ordering": false,
      "language" : getDatatableFrench()
    });

    $('#row-url').hide();
    $('#row-photo').show();
    $('#row-chapeau').show();
    $('#row-urlvideo').hide();

    $('#edit-row-url').hide();
    $('#edit-row-photo').show();
    $('#edit-row-chapeau').show();
    $('#edit-row-urlvideo').hide();
  });

  $(".dataTables_length select").addClass("form-control");
  $(".dataTables_filter input").addClass("form-control");


  /* == Gestion des l'ajout de theme == */

  $('#picture-img').on('change', function(){readFile(this, "picture-thumb");});
  $('#add-theme-type').on('change', function(){
    if($("#add-theme-type :selected").text() === 'Fiche'){
      $('#row-url').hide();
      $('#row-photo').show();
      $('#row-chapeau').show();
      $('#row-urlvideo').hide();
    }else if($("#add-theme-type :selected").text() === 'E-learning'){
      $('#row-chapeau').hide();
      $('#row-photo').hide();
      $('#row-url').show();
      $('#row-urlvideo').hide();
    }else if($("#add-theme-type :selected").text() === 'Vidéo externe'){
      $('#row-chapeau').hide();
      $('#row-photo').hide();
      $('#row-url').hide();
      $('#row-urlvideo').show();
      $('#external-video').show();
      $('#classic-video').hide();
    }else{
      $('#row-chapeau').hide();
      $('#row-photo').hide();
      $('#row-url').hide();
      $('#row-urlvideo').show();
      $('#external-video').hide();
      $('#classic-video').show();
    }
  });

  $('#add-theme').on('click', function (){

    if($('#add-theme-type :selected').text() === 'Fiche'
      || $('#add-theme-type :selected').text() === 'E-learning'
      || $('#add-theme-type :selected').text() === 'Vidéo externe'){

      // Préparation des paramètres de la requête

      var dataToSend = {};
      if($('#add-theme-type :selected').text() === 'Fiche'){
        dataToSend = {
          title : $('#add-theme-title').val(),
          category : $('#add-theme-category :selected').val(),
          picture_base64 : $('#picture-thumb').attr('src'),
          header : $('#add-theme-header').find('.ql-editor').html(),
          souscategory: $('#add-theme-souscategory :selected').val(),
          type : "fiche",
        };
      }else if($('#add-theme-type :selected').text() === 'Vidéo externe'){
        dataToSend = {
          title : $('#add-theme-title').val(),
          category : $('#add-theme-category :selected').val(),
          url : $('#add-theme-external-video').val(),
          souscategory: $('#add-theme-souscategory :selected').val(),
          type : "external-video",
        };
      }else{
        dataToSend = {
          title : $('#add-theme-title').val(),
          category : $('#add-theme-category :selected').val(),
          souscategory: $('#add-theme-souscategory :selected').val(),
          url : $('#add-theme-url').val(),
          type : "e-learning",
        };
      }

      // Requête Post pour ajouter un thème

      $.ajax({
        method: "POST",
        url: Routing.generate('addtheme'),
        dataType: 'json',
        data: dataToSend
      }).done(function( response ) {
        if(response.error !== undefined){
          swal.fire({
            title: response.title,
            text: response.error,
            icon: "error",
            confirmButtonText: "Fermer"
          }).then(function(isConfirm) {
            if (isConfirm.value !== undefined) {
              $('#addThemeModal').modal('show');
            }
          });
        }else{
          $('#addThemeModal').modal('hide');
          swal.fire({
            title: 'THEME AJOUTÉ',
            text: 'Le thème a bien été ajouté',
            icon: "success",
            confirmButtonText: "Fermer"
          }).then(function(isConfirm) {
            if (isConfirm.value !== undefined) {
              getThemes();
            }
          });
        }
      });
    }else{

      // Si c'est une vidéo au format mp4

      var file = $( '#add-theme-video' ).get( 0 ).files[0];
      var formData = new FormData();
      formData.append('file', file);
      formData.append('title', $('#add-theme-title').val());
      formData.append('category', $('#add-theme-category :selected').val());
      formData.append('souscategory', $('#add-theme-souscategory :selected').val());
      formData.append('type', 'video');
      formData.append('expiration_date', $('#add-theme-expiration-date').val());


      $.ajax( {
        url        : Routing.generate('addtheme'),
        type       : 'POST',
        contentType: false,
        cache      : false,
        processData: false,
        data       : formData,
        xhr        : function ()
        {
          var jqXHR = null;
          if ( window.ActiveXObject )
          {
            jqXHR = new window.ActiveXObject( "Microsoft.XMLHTTP" );
          }
          else
          {
            jqXHR = new window.XMLHttpRequest();
          }
          //Upload progress
          jqXHR.upload.addEventListener( "progress", function ( evt )
          {
            if ( evt.lengthComputable )
            {
              var percentComplete = Math.round( (evt.loaded * 100) / evt.total );
              document.getElementById('add-progress').setAttribute('style', 'width: ' + percentComplete + '%')
            }
          }, false );
          //Download progress
          //jqXHR.addEventListener( "progress", function ( evt )
          //{
          //  if ( evt.lengthComputable )
          //  {
          //    var percentComplete = Math.round( (evt.loaded * 100) / evt.total );
          //    //Do something with download progress
          //    console.log( 'Downloaded percent', percentComplete );
          //  }
          //}, false );
          return jqXHR;
        },
        success: function(response){
          if(response.error !== undefined){
            swal.fire({
              title: response.title,
              text: response.error,
              icon: "error",
              confirmButtonText: "Fermer"
            }).then(function(isConfirm) {
              if (isConfirm.value !== undefined) {
                $('#addThemeModal').modal('show');
              }
            });
          }else{
            $('#addThemeModal').modal('hide');
            swal.fire({
              title: 'THEME AJOUTÉ',
              text: 'Le thème a bien été ajouté',
              icon: "success",
              confirmButtonText: "Fermer"
            }).then(function(isConfirm) {
              if (isConfirm.value !== undefined) {
                getThemes();
              }
            });
          }
        }
      });
    }
  });

  $("#add-theme-category").on('change', function(){
      generateSousCategory("#add-theme-souscategory",$(this).val());
  });

  /* == Gestion des l'édition de theme == */

  $('#edit-theme').on('click', function (){

    // Préparation des paramètres à transmettre
    var themeToEdit = $('#edit-theme-id').val();
    if($('#edit-theme-type :selected').text() === 'Fiche'
      || $('#edit-theme-type :selected').text() === 'E-learning'
      || $('#edit-theme-type :selected').text() === 'Vidéo externe'){
      var dataToSend = {};
      if($('#edit-theme-type :selected').text() === 'Fiche'){
        dataToSend = {
          title : $('#edit-theme-title').val(),
          category : $('#edit-theme-category :selected').val(),
          picture_base64 : $('#edit-picture-thumb').attr('src'),
          header : $('#edit-theme-header').find('.ql-editor').html(),
          souscategory : $('#edit-theme-souscategory :selected').val(),
          type : "fiche",
          theme_id: themeToEdit
        };
      }else if($('#edit-theme-type :selected').text() === 'Vidéo externe'){
        dataToSend = {
          title : $('#edit-theme-title').val(),
          category : $('#edit-theme-category :selected').val(),
          url : $('#edit-theme-external-video').val(),
          souscategory : $('#edit-theme-souscategory :selected').val(),
          type : "external-video",
          theme_id: themeToEdit
        };
      }else{
        dataToSend = {
          title : $('#edit-theme-title').val(),
          category : $('#edit-theme-category :selected').val(),
          url : $('#edit-theme-url').val(),
          souscategory : $('#edit-theme-souscategory :selected').val(),
          type : "e-learning",
          theme_id: themeToEdit
        };
      }
      $.ajax({
        method: "POST",
        url: Routing.generate('modifytheme'),
        dataType: 'json',
        data: dataToSend
      }).done(function( response ) {
        if(response.error !== undefined){
          swal.fire({
            title: response.title,
            text: response.error,
            icon: "error",
            confirmButtonText: "Fermer"
          }).then(function(isConfirm) {
            if (isConfirm.value !== undefined) {
              $('#editThemeModal').modal('show');
            }
          });
        }else{
          $('#editThemeModal').modal('hide');
          swal.fire({
            title: 'THEME MODIFIÉ',
            text: 'Le thème a bien été modifié',
            icon: "success",
            confirmButtonText: "Fermer"
          }).then(function(isConfirm) {
            if (isConfirm.value !== undefined) {
              getThemes();
            }
          });
        }
      });
    }else{
      var file = $( '#edit-theme-video' ).get( 0 ).files[0];
      var formData = new FormData();
      formData.append('file', file);
      formData.append('title', $('#edit-theme-title').val());
      formData.append('category', $('#edit-theme-category :selected').val());
      formData.append('souscategory', $('#edit-theme-souscategory :selected').val());
      formData.append('type', 'video');
      formData.append('expiration_date', $('#edit-theme-expiration-date').val());
      formData.append('theme_id', themeToEdit);


      $.ajax( {
        url        : Routing.generate('modifytheme'),
        type       : 'POST',
        contentType: false,
        cache      : false,
        processData: false,
        data       : formData,
        xhr        : function ()
        {
          var jqXHR = null;
          if ( window.ActiveXObject )
          {
            jqXHR = new window.ActiveXObject( "Microsoft.XMLHTTP" );
          }
          else
          {
            jqXHR = new window.XMLHttpRequest();
          }
          //Upload progress
          jqXHR.upload.addEventListener( "progress", function ( evt )
          {
            if ( evt.lengthComputable )
            {
              var percentComplete = Math.round( (evt.loaded * 100) / evt.total );
              document.getElementById('edit-progress').setAttribute('style', 'width: ' + percentComplete + '%')
            }
          }, false );
          //Download progress
          //jqXHR.addEventListener( "progress", function ( evt )
          //{
          //  if ( evt.lengthComputable )
          //  {
          //    var percentComplete = Math.round( (evt.loaded * 100) / evt.total );
          //    //Do something with download progress
          //    console.log( 'Downloaded percent', percentComplete );
          //  }
          //}, false );
          return jqXHR;
        },
        success: function(response){
          if(response.error !== undefined){
            swal.fire({
              title: response.title,
              text: response.error,
              icon: "error",
              confirmButtonText: "Fermer"
            }).then(function(isConfirm) {
              if (isConfirm.value !== undefined) {
                $('#editThemeModal').modal('show');
              }
            });
          }else{
            $('#editThemeModal').modal('hide');
            swal.fire({
              title: 'THEME MODIFIÉ',
              text: 'Le thème a bien été modifié',
              icon: "success",
              confirmButtonText: "Fermer"
            }).then(function(isConfirm) {
              if (isConfirm.value !== undefined) {
                getThemes();
              }
            });
          }
        }
      });
    }
  });
  $('#edit-picture-img').on('change', function(){readFile(this,"edit-picture-thumb");});
  $('#edit-theme-type').on('change', function(){
    if($("#edit-theme-type :selected").text() === 'Fiche'){
      $('#edit-row-url').hide();
      $('#edit-row-photo').show();
      $('#edit-row-chapeau').show();
      $('#edit-row-urlvideo').hide();
    }else if($("#edit-theme-type :selected").text() === 'E-learning'){
      $('#edit-row-chapeau').hide();
      $('#edit-row-photo').hide();
      $('#edit-row-url').show();
      $('#edit-row-urlvideo').hide();
    }else if($("#edit-theme-type :selected").text() === 'Vidéo externe'){
      $('#edit-row-chapeau').hide();
      $('#edit-row-photo').hide();
      $('#edit-row-url').hide();
      $('#edit-row-urlvideo').show();
      $('#edit-external-video').show();
      $('#edit-classic-video').hide();
    }else{
      $('#edit-row-chapeau').hide();
      $('#edit-row-photo').hide();
      $('#edit-row-url').hide();
      $('#edit-row-urlvideo').show();
      $('#edit-external-video').hide();
      $('#edit-classic-video').show();
    }
  });


  $("#edit-theme-category").on('change', function(){
      generateSousCategory("#edit-theme-souscategory",$(this).val());
  });

  $('#table_theme').on('click', '.delete-theme', function (){
    var themeToDelete = $(this).attr('custom-id');

    swal.fire({
      title: "Etes vous sûr ?",
      text: "Aucun retour arrière ne sera possible.",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#DD6B55",
      confirmButtonText: "Confirmer",
      cancelButtonText: "Annuler",
      closeOnConfirm: false,
      closeOnCancel: false,
      showLoaderOnConfirm: true
    }).then(function(isConfirm) {
      if (isConfirm.value !== undefined) {
        deleteTheme(themeToDelete);
      } else {
        swal.fire("Annulé", "", "error");
      }
    });
  });

  $('#table_theme').on('click', '.edit-theme', function (){
    var themeToEdit = $(this).attr('custom-id');
    var dataToSend = {
      theme_id : themeToEdit,
    };

    $.ajax({
      method: "POST",
      url: Routing.generate('getthemebyid'),
      dataType: 'json',
      data: dataToSend
    }).done(function( response ) {
      if(response.error !== undefined){
        swal.fire({
          title: response.title,
          text: response.error,
          icon: "error",
          confirmButtonText: "Fermer"
        });
      }else{

        $('#edit-theme-url').val('');
        $('#edit-theme-header').val('');
        $('#edit-theme-header').find('.ql-editor').html('');
        $('#edit-picture-thumb').attr('src', '');
        $('#edit-picture-img').val('');
        $("option:selected").removeAttr("selected");

        $('#edit-theme-type option[value="'+response.type+'"]').attr('selected', 'selected');
        if(response.type === 'fiche'){
          $('#edit-row-url').hide();
          $('#edit-row-photo').show();
          $('#edit-row-chapeau').show();
          $('#edit-theme-header').find('.ql-editor').html(response.header);
          $('#edit-picture-thumb').attr('src', response.picture);
          $('#edit-row-urlvideo').hide();
        }else if(response.type === 'e-learning'){
          $('#edit-row-chapeau').hide();
          $('#edit-row-photo').hide();
          $('#edit-row-url').show();
          $('#edit-row-urlvideo').hide();
          $('#edit-theme-url').val(response.url);
        }else if(response.type === 'external-video'){
          $('#edit-row-chapeau').hide();
          $('#edit-row-photo').hide();
          $('#edit-row-url').hide();
          $('#edit-row-urlvideo').show();
          $('#edit-theme-external-video').val(response.url);
          $('#edit-video-url').attr('href', response.url);
          $('#edit-theme-expiration-date').val(response.expiration_date);
          $('#edit-external-video').show();
          $('#edit-classic-video').hide();
        }else{
          $('#edit-row-chapeau').hide();
          $('#edit-row-photo').hide();
          $('#edit-row-url').hide();
          $('#edit-row-urlvideo').show();
          $('#edit-video-url').attr('href', response.url);
          $('#edit-theme-expiration-date').val(response.expiration_date);
          $('#edit-external-video').hide();
          $('#edit-classic-video').show();
        }

          generateSousCategory("#edit-theme-souscategory",response.category);

        $('#edit-theme-category option[value="'+response.category+'"]').prop('selected', true);


        $('#edit-theme-souscategory option[value="'+response.souscategory+'"]').attr('selected', 'selected');
        $('#edit-theme-title').val(response.title);
        $('#edit-theme-id').val(themeToEdit);

        $('#editThemeModal').modal('show');
      }
    });
  });
  $('#table_theme').on('click', '.move-up', function(){
    var dataToSend = {
      theme_id : $(this).attr('custom-id'),
    };

    var row = $(this).parents('tr:first');

    $.ajax({
      method: "POST",
      url: Routing.generate('moveuptheme'),
      dataType: 'json',
      data: dataToSend
    }).done(function( response ) {
      if(response.error !== undefined){
        swal.fire({
          title: response.title,
          text: response.error,
          icon: "error",
          confirmButtonText: "Fermer"
        });
      }else{
        if(row.is(':first-child')){
          getThemes();
        }else{
          row.insertBefore(row.prev());
        }
      }
    });
  });
  $('#table_theme').on('click', '.move-down', function(){
    var dataToSend = {
      theme_id : $(this).attr('custom-id'),
    };

    var row = $(this).parents('tr:first');

    $.ajax({
      method: "POST",
      url: Routing.generate('movedowntheme'),
      dataType: 'json',
      data: dataToSend
    }).done(function( response ) {
      if(response.error !== undefined){
        swal.fire({
          title: response.title,
          text: response.error,
          icon: "error",
          confirmButtonText: "Fermer"
        });
      }else{
        if(row.is(':last-child')){
          getThemes();
        }else{
          row.insertAfter(row.next());
        }
      }
    });
  });



  function toggleTheme(themeId){

    var dataToSend = {
      id : themeId,
    };

    $.ajax({
      method: "POST",
      url: Routing.generate('toggletheme'),
      dataType: 'json',
      data: dataToSend
    }).done(function( response ) {
      if($('#visible-button-' + themeId).attr('class') === 'btn btn-sm btn-success'){
        $('#visible-button-' + themeId)
          .removeClass('btn-success')
          .addClass('btn-warning')
          .html('Masqué');
      }else{
        $('#visible-button-' + themeId)
          .removeClass('btn-warning')
          .addClass('btn-success')
          .html('Visible');
      }
      $('#table_theme').DataTable().destroy();
      $('#table_theme').DataTable({
        "pagingType": "simple",
        "ordering": false,
      });
      $(".dataTables_length select").addClass("form-control");
      $(".dataTables_filter input").addClass("form-control")

    });
  }
  function deleteTheme(idTheme){
    var dataToSend = {
      theme_id : idTheme,
    };

    $.ajax({
      method: "POST",
      url: Routing.generate('deletetheme'),
      dataType: 'json',
      data: dataToSend
    }).done(function( response ) {
      if(response.error !== undefined){
        swal.fire({
          title: response.title,
          text: response.error,
          icon: "error",
          confirmButtonText: "Fermer"
        });
      }else{
        swal.fire({
          title: 'THEME SUPPRIMÉ',
          text: 'Le thème a bien été supprimé',
          icon: "success",
          confirmButtonText: "Fermer"
        });
        getThemes();
      }
    });
  }
  function readFile(element, thumbName) {
    console.log(thumbName);
    if (element.files && element.files[0]) {

      var FR= new FileReader();

      FR.addEventListener("load", function(e) {
        document.getElementById(thumbName).src = e.target.result;
      });

      FR.readAsDataURL( element.files[0] );
    }

  }
  function generateSousCategory(dom,value){
    var option = "";
    /*Remove all option sous-category*/
    $('option', $(dom)).remove();

    if(value == "fragilite"){
      option +='<option value="gerer_budget_quotidien">Gérer son budget au quotidien</option>';
      option +='<option value="sortir_des_difficultes">Sortir des difficultés</option>';
    }else if(value == "relation"){
      option +='<option value="accompagner_proche">Accompagner un proche</option>';
      option +='<option value="mieux_vivre_aidant">Mieux vivre son rôle d\'aidant</option>';
    }else if(value == "aleas"){
      option +='<option value="faire_face_deces">Faire face au décès et au deuil</option>';
      option +='<option value="gerer_divorce">Gérer un divorce / une séparation</option>';
      option +='<option value="parcours_hospi">Bien vivre son parcours d\'hospitalisation</option>';
      option +='<option value="rebondir">Rebondir suite à la perte de son emploi</option>';
    }else if(value == "equilibre"){
      option +='<option value="probleme_sante">Traverser un problème de santé</option>';
      option +='<option value="vie_famille">Prendre soin de sa vie de famille</option>';
      option +='<option value="liberer_tension">Libérer les tensions</option>';
    }
    $(dom).append(option);

  }

</script>