<h2 style="font-weight: bold; color: #3e3e3e;">Modification de client</h2>
<hr/><br/>

<div class="row">
    <div class="col-xs-6">
        <input value="{{ client.firstname }}" type="text" placeholder="Prénom" name="firstname" autocapitalize="none" class="form-control"/>
    </div>
    <div class="col-xs-6">
        <input value="{{ client.lastname }}" type="text" placeholder="Nom" name="lastname" autocapitalize="none" class="form-control"/>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-12">
        <input value="{{ client.email }}" type="email" placeholder="Email" name="email" autocapitalize="none" disabled class="form-control"/>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-12">
        <input value="{{ client.phone }}" type="tel" placeholder="Numéro de téléphone" name="phone" class="form-control"/>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-6">
        <label>Status de l'email</label>
        <select name="email_status" class="form-control">
            <option value="VALIDATED" {{ (client.status == 'VALIDATED') ? 'SELECTED' : '' }}>Validé</option>
            <option value="CREATED" {{ (client.status == 'CREATED') ? 'SELECTED' : '' }}>Créé</option>
        </select>
    </div>
    <div class="col-md-6">
        <label>Status du paiement</label>
        <select name="subscription_status" class="form-control">
            <option value="VALIDATED" {{ (client.subscription.first.status == 'VALIDATED') ? 'SELECTED' : '' }}>Validé</option>
            <option value="PENDING" {{ (client.subscription.first.status == 'PENDING') ? 'SELECTED' : '' }}>En attente</option>
        </select>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-xs-6">
        <label>Date de début de souscription</label>
        <input value="{{ client.subscription.first.createdAt|date("d/m/Y", "Europe/Paris") }}" type="text" placeholder="Date de début de souscription" name="subscription_createdAt" autocapitalize="none" class="form-control"/>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-xs-12">
        <a class="btn btn-success" href="javascript:void(0)" id="update-user" onclick="updateUser({{ client.id }})">Enregistrer</a>
        <a class="btn btn-default" href="javascript:void(0)" onclick="$('#editClient').hide(); $('#clientList').show();">Annuler</a>
    </div>
</div>

<script>
    function updateUser(userId){

        var dataToSend = {
            firstname : $('[name="firstname"]').val(),
            lastname : $('[name="lastname"]').val(),
            phone : $('[name="phone"]').val(),
            email_status : $('[name="email_status"] option:selected').val(),
            subscription_status : $('[name="subscription_status"] option:selected').val(),
            subscription_createdAt : $('[name="subscription_createdAt"]').val(),
            id : userId,
        };

        $('#update-user').html('<i class="icon-spin5 animate-spin"></i> Veuillez patienter...');
        $('#update-user').attr('onclick', '');

        $.ajax({
            method: "POST",
            url: Routing.generate('updateclient'),
            dataType: 'json',
            data: dataToSend
        }).done(function( response ) {
            if(response.error !== undefined){
              swal.fire({
                title: response.error,
                text: response.msg,
                icon: "error",
                confirmButtonText: "Fermer"
              }).then(function(isConfirm) {
                if(isConfirm){
                  $('#update-user').html('Enregistrer');
                  $('#update-user').attr('onclick', 'updateUser({{ client.id }})');
                }
              });
            }else{
              swal.fire({
                title: 'INFORMATIONS MISES A JOUR',
                text: 'Les informations ont bien été sauvegardés',
                icon: "success",
                confirmButtonText: "Fermer"
              }).then(function(isConfirm) {
                if(isConfirm){
                  getClients();
                  $('#editClient').hide();
                  $('#clientList').show();
                }
              });
            }
        });
    }
</script>