@import url('https://fonts.googleapis.com/css?family=Hind');
@font-face {
    font-family: AchilleII;
    src: url(../fonts/AchilleIIFY/AchilleIIFY-Regular_L.ttf);
}
@font-face {
    font-family: AchilleII;
    src: url(../fonts/AchilleIIFY/AchilleIIFY-Bold_L.ttf);
    font-weight: bold;
}
@font-face {
    font-family: AchilleII;
    src: url(../fonts/AchilleIIFY/AchilleIIFY-Italic_L.ttf);
    font-style: italic;
}

h1,h2,h3,h4,h5{
    font-family: AchilleII, sans-serif !important;
}

body{
    font-family: Tahoma, sans-serif !important;
    font-size: 	14px !important;
}

a.btn_outline_blue, .btn_outline_blue{
    width: 300px;
    font-family: inherit;
    color: #78cfcf;
    background:none;
    border:2px solid #78cfcf;
    cursor: pointer;
    padding: 10px 20px;
    display: inline-block;
    outline: none;
    font-size:12px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-transform:uppercase;
    font-weight:bold;
    text-align:center;
}
a.btn_outline_blue:hover, .btn_outline_blue:hover{
    border:2px solid white;
    color: white;
    background: #78cfcf;
    text-decoration: none;
}

.card-header h2 .btn-link:focus{
    box-shadow: none;
}

.card-header h2 .btn-link:hover{
    text-decoration: none;
    color: white;
}

.card-header h2 .btn-link{
    color: white;
}


.menu-btn{
    border: 5px solid #d3d62e;
    width: 200px;
    display: inline-block;
    background: white;
    border-radius: 21px;
    padding: 5px;
    margin: 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.menu-btn img{
    width: 80%;
}

.menu-btn:hover {
    text-decoration: none;
    background:#f3f3f3;
    font-weight: bold;
}

.menu-btn:hover ~ #hover1{
    font-weight: bold;
}

.menu-btn:hover ~ #hover2{
    font-weight: bold;
}

.menu-btn:hover ~ #hover3{
    font-weight: bold;
}

.menu-btn:hover ~ #hover4{
    font-weight: bold;
}

#menu-btn-contact {
    background: #0a2d82;
    padding: 10px 20px 10px 10px;
    margin-top: 50px;
    margin-bottom: 60px;
    border-radius: 25px;
    font-size: 1em;
}

#menu-btn-contact:hover {
    font-weight: bold !important;
}

#menu-btn-contact img{
    width: 100%;
    max-width: 100px;
}

a:hover{
    text-decoration: none !important;
}

body{
    background: white !important;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    text-align: center;
}


thead{
    background: #32475b;
    color: white;
}

p{
    margin: 0 !important;
}

#admin-body{
    background: white !important;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    text-align: left;
}

#accueil{
    font-family: 'AchilleII', sans-serif;
}

#change-user-body{
    text-align: left;
}

#change-user-body a{
    text-decoration: none;
    font-size: 1.2em;
    color: white;
}

#change-user-body a:hover .btn-change-user{
    background: #d3d62e;
}

#change-user-body a:hover .btn-add-user{
    background: #6a6666;
}

#gender-form{
    color: white;
    padding: 10px 5px 5px 5px;
}

#gender-form label{
    color: white;
    margin-left: 10px;
    font-weight: normal;
    font-family: "AchilleII", Helvetica, Arial, sans-serif;
}

#gender-form input{
    vertical-align: top;
}

#main-logo{
    width: 70%;
    float:right;
}

#sub-logo{
    margin-top: 25px;
}

.stripe-button-el{
    background: #5fbac9 !important;
    width: 100% !important;
}

.stripe-button-el span{
    background: transparent !important;
    font-size: 18px !important;
    width: 100% !important;
    height: 50px !important;
    border: white solid 0px !important;
    border-radius: 0px;
    font-weight: normal !important;
    text-shadow: none !important;
    padding-top: 10px !important;
}

#main-form{
    margin-left: 10%;
    margin-right: 10%;
}

.show-password {
    position: absolute;
    top: 135px;
    right: 15%;
}

.g-recaptcha div{
    margin: auto;
}

#submit_connexion{
    color: #0a2d82;
    text-decoration: underline;
    background: none;
    border: none;
}

#submit_connexion.btn:focus {
    outline: none;
}

#submit_inscription{
    background-color: #0a2d82;
    border-color: #0a2d82;
    padding: 16px;
    min-width: 250px;
}

#submit_souscription{
    background-color: #5fbac9;
    border-color: #5fbac9;
    padding: 16px;
}

#subtitle_logo{
    border-left: #b5b5b5 1px solid;
    border-right: #b5b5b5 1px solid;
    color: #8fc540;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 100%;
}

#resetPassword{
    background-color: #0a2d82;
    border-color: #0a2d82;
    padding: 16px;
}

#right-content{
    width: 100%;
    height: 100vh;
    background: white;
    display: inline-block;
    vertical-align: top;
    padding: 30px 20px 20px 150px;
}

#side-menu{
    min-height: 100vh;
    width: 130px;
    background-color: #2c3e50;
    text-align: center;
    display: inline-block;
    position: fixed;
}

.bg-brown{
    background-color: #614b34;
    color: white;

}

.bg-blue{
    color: black;
}

.section1 {
    padding: 30px 0;
    background-color: #e7e6e6 !important;
    border: 2px solid orange;

}
.section2 {
    background-color: white !important;

}
.section {
    color: black;
}
.blue-header{
    font-family: 'Tahoma', sans-serif;
    font-size: 24px;
    background-color: #0a2d82;
    color: white;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.blue-header2{
    font-family: 'AchilleII', sans-serif;
    font-size: 14px;
    background-color: #0a2d82;
    color: white !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.blue-header2 span, .blue-header2 strong, .blue-header2 em{
    color: white !important;
}

.white-header{
    font-family: 'AchilleII', sans-serif;
    font-size: 24px;
    background-color: white;
    color: #404040;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    border-bottom: solid 1px lightgrey;
}

.btn-change-user{
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: 10px;
    background: #0a2d82;
}

.btn-add-user{
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: 10px;
    background: #a09c9c;
}

.btn-to-doc{
    background-color: #5c534f;
    padding: 15px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
}

.btn-to-doc:hover{
    text-decoration: none;
    background-color: #4e4541;
}

.btn-domplus{
    margin: 10px;
    border-radius: 20px;
    background-color: white;
    border: solid 1px #eacfa5;
    text-decoration: none;
    width: 150px;
    height: 150px;
    padding-top: 15px;
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
}

.btn-domplus:hover{
    border: solid #f39a83 1px;
    text-decoration: none;
}

.btn-icon{
    background: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 15px;
    padding: 10px;
    width: 75px;
    margin-top: 20px;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-icon:hover{
    background: lightgrey;
}

.btn-sidebar{
    padding: 10px;
    width: 100%;
    text-decoration: none;
    color: white;
}

.btn-sidebar i{
    font-size: 1.5em;
}

.btn-sidebar:hover{
    background-color: #34475a;
}

.container{
    min-height: 100vh;
    background-color: white !important;
    border-left: 1px solid #e4e3e3;
    border-right: 1px solid #e4e3e3;
}

.headtitle-w-name{
    padding: 5px 20px;
    color: #fffffe;
    background-color: #d3d62e;
    font-family: 'AchilleII', sans-serif;
    font-size: 2em;
}

.menu-link{
    text-align:left;
    color: #a2a1a1;
    padding-left: 40px !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    font-size: 1.2em;

}

.menu-link:hover{
    background-color: #dadada;
}


.modal-header{
    background-color: #d3d62e;
    color: white;
    border-radius: 4px 4px 0 0;
}

a.no-decoration:hover{
    text-decoration: none;
}

a.no-decoration:focus{
    text-decoration: none;
}

.page{
    font-family: 'AchilleII', sans-serif;
    color: #614b34;
    font-size: 1.3em;
}

#btn-inscription {
    background-color:#0a2d82 ;
}

#main-form input {
    margin-top: 5px;
}

#table_client_paginate a {

    width: 100px;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    margin: 5px;
    background-color: #78cfcf;
    cursor: pointer;

}


#table_theme_paginate a {

    width: 100px;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    margin: 5px;
    background-color: #78cfcf;
    cursor: pointer;

}


#table_soustheme_paginate a {

    width: 100px;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    margin: 5px;
    background-color: #78cfcf;
    cursor: pointer;

}

#inscription_form input {
    color:black !important;
 }

#inscription_form input,#main-form input{

}

#input_container {
    position:relative;
    padding:0;
    margin:0;
}

.action-link{
    text-align:left;
    padding-left: 0px !important;
    padding-top: 20px !important;
    padding-bottom: 15px !important;
    font-size: 1em;
    color: #5e5e5e;
    border-top: solid #dedede 1px;
    background-color: #ffffff;
}

.action-link2{
    text-align:left;
    padding-left: 20px !important;
    padding-top: 20px !important;
    padding-bottom: 15px !important;
    font-size: 1.2em;
    color: #5e5e5e;
    border-top: solid #dedede 1px;
    background-color: #ffffff;
}

.action-link2:hover{
    background-color: #f3f3f3;
}

.action-link2 img {
    color:#0a2d82;
}

.action-link h4{
    color: #292929;
}

.action-link.col-xs-3, .action-link.col-xs-9{
    padding-left: 5px !important;
    padding-right: 0px !important;
}

.action-link strong{
    color: #262626;
    font-size: 0.8em;
}

.vertical-text-middle{
    text-align: center;
    vertical-align: middle;
}

.text-blue{
    color: #78cfcf;
}

.text-red{
    color: #f56c6c
}

.bordered-link{
    border: solid 2px;
    border-radius: 5px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.domplus-menu-ul{
    margin: 0;
    padding: 0;
}

.domplus-ul-link {
    text-decoration: none;
    list-style-type: none;
    color: #4e4541;
}

.domplus-ul-link li{
    text-decoration: none;
    list-style-type: none;
    color: #4e4541;
    padding: 20px 20px 20px 40px;
    text-align: left;
}

.domplus-ul-link:hover, .domplus-ul-link:focus {
    text-decoration: none;
}

.domplus-ul-link:hover li{
    background: lightgrey;
}

.domplus-yellow-button{
    background-color: white;
    padding: 15px;
    color: #676767;
    border-bottom: solid 1px lightgrey;
    font-size: 15px !important;
}

.domplus-yellow-button:hover{
    background-color: #e7e7e7;
}

.domplus-yellow-button2{
    background-color: white;
    padding: 15px;
    margin: 5px;
    color: #676767;
    border: solid 1px rgb(59,56,56);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 15px;
}

.domplus-yellow-button2:hover{
    background-color: #e7e7e7;
}

.domplus-theme-link{
    text-decoration: none;
    text-align: left;
}

.domplus-theme-link:hover, .domplus-theme-link:focus{
    text-decoration: none;
}

.domplus-yellow-box{
    background-color: white;
    border-radius: 5px;
    border: solid rgb(59,56,56) 1px;
    margin: 15px;
    padding: 15px;
    color: #212121;
    text-align: left;
}

.domplus-yellow-box ul{
    text-align: left;
}

.domplus-yellow-box a {
    color: #5fbac9;
}

.domplus-yellow-box a:hover {
    color: #4292cd;
}

.domplus-yellow-box p img {
    max-width: 100%;
}

.domplus-brown-button{
    margin-top: 10px;
    margin-left:auto;
    margin-right: auto;
    background-color: #0a2d82;
    color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    display: inline-block;
}

.domplus-brown-button img{
    margin-right: 10px;
    width: 35px;
    height: 35px;
}

.theme-title-1{
    font-family: AchilleII, sans-serif;
    color: white;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    word-break: break-all;
    hyphens: auto;
}

.theme-title-2{
    font-family: AchilleII, sans-serif;
    color: #82d0f5;
    font-size: 14px;
    font-weight: bold;
}

.theme-title-3{
    font-family: AchilleII, sans-serif;
    color: #5fbac9;
    font-size: 14px;
    font-weight: bold;
}

.scroll-top{
    color: lightgrey;
    font-size: 13px;
    cursor: pointer;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
}

.scroll-top i{
    font-size: 25px;
}

.ql-align-center{
    text-align: center;
}

.ql-indent-1{
    padding-left: 3em;
}

.ql-indent-2{
    padding-left: 6em;
}

.ql-indent-3{
    padding-left: 9em;
}

.ql-indent-4{
    padding-left: 12em;
}

.ql-indent-5{
    padding-left: 15em;
}

.ql-indent-6{
    padding-left: 18em;
}

.ql-indent-7{
    padding-left: 21em;
}

.ql-indent-8{
    padding-left: 24em;
}

.ql-indent-9{
    padding-left: 27em;
}

.icon-legend{
    font-size: 11px;
}

.domplus-yellow-button i{
    float: right;
    vertical-align: top;
    top: 0;
}

.text-header{
    font-size: 18px;
}

.modal-header{
    background-color: #d3d62e;
}

.list-group li {
    list-style: none;
}

.color-black{
    color:black;
}

.sa-confirm-button-container .confirm {
    background: #0a2d82 !important;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: #333 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #333 !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #333 !important;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #333 !important;
}

.swal2-popup{
    font-size: 1em !important;
}

.swal2-confirm{
    background: #0a2d82 !important;
}

.sous-categorie-button.active{
    /*padding: 25px;*/
    background: #0a2d82;
}

.sous-categorie-button{
    cursor:pointer;
    width: 100%;
    /*padding: 25px;*/
    background: #83d0f5;
    color: white;
    text-transform: uppercase;
    margin-top: 5px;
    height: 90px;
}

.vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

#tarteaucitronPersonalize{
    border-radius: 5px !important;
    background-color: #7bc2e5 !important;
}

#tarteaucitronCloseAlert,#tarteaucitronCloseAlertMention{
    border-radius: 5px;
}

#tarteaucitronCloseAlertMention {
    padding: 3px 10px !important;
}
#tarteaucitronAlertBig{
    transform: none !important;
    top:20% !important;
    left: 20% !important;
}

.rating-wrapper{
    float:right;
    text-align: center;
    background: #fbfbfb;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 15px;
}

.rating-wrapper em{
    background: #83d0f5;
    padding: 2px 11px;
    border-radius: 5px;
    color: white;
}

.rating{
    display: inline-block;
    vertical-align: sub;
    color: #83d0f5;
}

.rating span{
    cursor: pointer;
}

.contactWidget{
    z-index: 1001;
    position: fixed;
    right: 20px;
    bottom: 50px;
    background: #83d0f5;
    padding: 10px;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.5s;
    border: solid 1px #b6e7ff;
}

.contactWidget:hover{
    padding: 15px;
    transition: 0.5s;
}

.contactWidget i {
    color:white;
    font-size: 32px;
}

 .height {
     float: none !important;
     display: table-cell;
     vertical-align: middle;
 }

 .ancre {
     background-color: #d3d62e !important;
     border: 1px solid #d3d62e !important;
     text-transform: uppercase !important;
     padding: 10px !important;
     border-radius: 10px !important;
 }

.picto-responsive {
    width:20% !important;
}


/*==========  Mobile First Method  ==========*/

@media screen and (min-width: 992px){
    .action-link{
        text-align: center;
    }

    .menu-btn {
        width: 200px;
    }

    .action-link2{
        font-size: 1.2em;
    }
}


@media screen and (max-width: 991px){
    #auth-page-info{
        text-align: left;
        padding: 5%;
    }

    .menu-btn {
        width: 200px;
    }

    .action-link2{
        font-size: 1.2em !important;
    }
}

@media screen and (max-width: 767px){
    .blue-header span{
        font-size: 0.8em !important;
    }
    .menu-btn {
        width: 150px !important;
    }
}

@media screen and (max-width: 540px) {
    .blue-header span {
        font-size: 0.7em !important;
    }
    .menu-btn {
        width: 150px !important;
    }
    .responsive-font-size {
        font-size: 1.35em !important;
    }

    .action-link2{
        font-size: 1.2em !important;
    }
}

@media screen and (max-width: 412px) {

    .sous-categorie-button {
        font-size: 0.8em !important;
    }

    .themeTitle {
        font-size: 0.9em !important;
    }

    .menu-btn {
        width: 150px;
    }
    .responsive-font-size {
        font-size: 1.25em !important;
    }
    .action-link2{
        font-size: 1em !important;
    }

    #menuModal modal-body img {
        width: 40px;
    }

    .responsive-font-size-conseillerpersonnel {
        font-size: 1.15em !important;
    }

    .responsive-font-size img{
        width: 60px !important;
    }
}

    @media screen and (max-width: 370px) {

        .sous-categorie-button {
            font-size: 0.7em !important;
        }

        .themeTitle {
            font-size: 0.8em !important;
        }

        .menu-btn {
            width: 150px !important;
        }

        .responsive-font-size {
            font-size: 1.15em !important;
        }

        .action-link2{
            font-size: 0.95em !important;
        }

        #menuModal .action-link2 img {
            width: 40px;
        }

        .responsive-font-size-conseillerpersonnel {
            font-size: 1.1em !important;
        }

        .responsive-font-size img{
            width: 60px !important;
        }
    }


    @media screen and (max-width: 340px) {

        .sous-categorie-button {
            font-size: 0.6em !important;
        }

        .themeTitle {
            font-size: 0.7em !important;
        }

        .menu-btn {
            width: 150px !important;
        }

        .responsive-font-size {
            font-size: 1.05em !important;
        }

        .action-link2{
            font-size: 0.87em !important;
        }

        #menuModal modal-body img {
            width: 40px;
        }

        .responsive-font-size-conseillerpersonnel {
            font-size: 1em !important;
        }

        .responsive-font-size img{
            width: 45px !important;
        }
    }

.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    background: none !important;
    border: none !important;
}