{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% if userInfo.profile.role != 'CLIENT' %}

            <div class="row bg-blue">
                <div class="col-12 blue-header">
                    IDENTIFICATION
                </div>
            </div>

            <br/><br/>

            <div class="row">
                <div class="col-6 col-offset-3">
                    MACIF SOLIDARITÉ COUPS DURS
                </div>
            </div>

            <br/><br/>

            <div class="row">
                <div class="col-12">
                    <p style="text-align: center">
                        Il semble que votre session a expiré.<br/>
                        Veuillez vous déconnecter et vous connecter à nouveau.
                    </p>
                </div>
            </div>
            <br/>
            <br/>
        {% else %}

            {% if page == 'conseillerpersonnel' %}
                <div id="conseillerpersonnel">

                    <div class="row">
                        <div class="col-12 blue-header responsive-font-size" style="text-align: center; font-size: 1.5em;">
                            <a href="{{ url('auth') }}">
                                <img src="{{ asset('img/global_design/logo_MACIF_V2.png') }}"
                                     alt="" title="" class="d-none d-md-block"
                                     style="position: absolute; left:0; top:0; height: 100%; background: white; padding: 10px;"
                                />
                            </a>
                            <span class="d-md-none" style="position: absolute; left: 20px;" >
                                <a href="javascript:void(0);" onclick="window.history.back();" title="Précédent" style="color:white;">
                                    <i class="fa fa-arrow-circle-o-left" style="font-size: 35px;"></i>
                                </a>
                            </span>
                            <span style="vertical-align: top;">www.macif-solidarite.fr</span>
                            <span style="position: absolute; right: 20px; top: 50%;transform: translateY(-50%);">
                                <a id="menu" data-toggle="modal" href="#menuModal"  style="color:white;">
                                    <span style="font-size: 10px">Menu</span><br/>
                                    <i class="fa fa-bars" style="font-size: 30px; margin-top: -5px;"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 responsive-font-size" style="border-bottom: white solid 1px; text-align: center; font-size: 1.5em; ">
                            <img style="" src="{{ asset('img/global_design/icon/operator.png') }}" alt="" width="70">
                            <span>Contacter mon conseiller personnel</span>
                        </div>
                        <div class="col-12 white-header d-sm-block d-md-none responsive-font-size" style="border-bottom: white solid 1px; text-align: center; font-size: 1.5em; margin-bottom: 5px">
                            <a class="btn btn-primary btn-sm ancre" href="#ancreAppeler" >Appeler</a>
                            <a class="btn btn-primary btn-sm ancre" href="#ancreEtreAppeler" >ÊTRE RAPPELÉ</a>
                            <a class="btn btn-primary btn-sm ancre" href="#ancreMail" >E-MAIL</a>
                            <br/>
                        </div>
                    </div>


                    <div class="row">
                        <div id="ancreAppeler" class="col-md-4">
                            <div class="row action-link">
                                <div class="col-lg-12 col-md-12 col-4" style="padding: 0 30px 0 30px;">
                                    <img src="{{ asset('img/phone_side.svg') }}" title="Appelez mon conseiller personnel" alt="" style="width:100%; max-width: 150px"/>
                                    <br/>
                                    <br/>
                                </div>
                                <div class="col-lg-12 col-md-12 col-8" style="padding-left:30px;">
                                    <h4 class="responsive-font-size-conseillerpersonnel">APPELER MON CONSEILLER PERSONNEL</h4>
                                    <br/>
                                    <a href="tel:{{ appinfo.trConseillerPhone }}" onclick="track('APPEL_CS')" title="Appelez mon conseiller personnel">
                                        <img src="{{ asset('img/cartouche_macif.jpg') }}" alt="" style="width: 80%; margin: auto;"/>
                                    </a>
                                    <br/>
                                    <br/>
                                    {{ appinfo.trMessageCallConseiller|nl2br }}
                                </div>
                            </div>
                        </div>
                        <div id="ancreEtreAppeler" class="col-md-4">
                            <div class="row action-link">
                                <div class="col-lg-12 col-md-12 col-4" style="padding: 0 30px 0 30px;">
                                    <img src="{{ asset('img/headset_side.svg') }}" title="Vous souhaitez être rappelé par votre conseiller" alt="" style="width:100%; max-width: 150px"/>
                                    <br/>
                                    <br/>
                                </div>
                                <div class="col-lg-12 col-md-12 col-8" style="padding-left:30px;">
                                    <h4 class="responsive-font-size-conseillerpersonnel">ÊTRE RAPPELÉ PAR MON CONSEILLER</h4>
                                    <br/>
                                    <input type="tel" name="phone-callback" placeholder="Téléphone*" class="form-control" value="{% if userInfo.profile.phone is not empty %}{{ userInfo.profile.phone }}{% endif %}" />
                                    <br/>
                                    <textarea class="form-control" name="message-callback" placeholder="Votre message*" rows="5"></textarea>
                                    <br/>

                                    Quel est le meilleur moment pour vous contacter ?*
                                    <br/>
                                    <br/>
                                    <ul style="list-style-type: none;padding: 0;">
                                        <li style="display: inline-block; margin: 0 10px 0 10px;">
                                            <label for="lundi">Lun</label><br/>
                                            <input type="checkbox" name="contact-day-lun" value="true" id="lundi"/>
                                        </li>
                                        <li style="display: inline-block; margin: 0 10px 0 10px;">
                                            <label for="mardi">Mar</label><br/>
                                            <input type="checkbox" name="contact-day-mar" value="true" id="mardi"/>
                                        </li>
                                        <li style="display: inline-block; margin: 0 10px 0 10px;">
                                            <label for="mercredi">Mer</label><br/>
                                            <input type="checkbox" name="contact-day-mer" value="true" id="mercredi"/>
                                        </li>
                                        <li style="display: inline-block; margin: 0 10px 0 10px;">
                                            <label for="jeudi">Jeu</label><br/>
                                            <input type="checkbox" name="contact-day-jeu" value="true" id="jeudi"/>
                                        </li>
                                        <li style="display: inline-block; margin: 0 10px 0 10px;">
                                            <label for="vendredi">Ven</label><br/>
                                            <input type="checkbox" name="contact-day-ven" value="true" id="vendredi"/>
                                        </li>
                                    </ul>
                                    <br/>
                                    <ul style="list-style-type: none;padding: 0;">
                                        <li style="display: inline-block; margin: 0 10px 0 10px;">
                                            <label for="matin">Matin</label><br/>
                                            <input type="checkbox" name="matin" value="matin" id="matin"/>
                                        </li>
                                        <li style="display: inline-block; margin: 0 10px 0 10px;">
                                            <label for="apres-midi">Après-midi</label><br/>
                                            <input type="checkbox" name="apres-midi" value="apres-midi" id="apres-midi"/>
                                        </li>
                                    </ul>
                                    <br/>
                                    <a href="javascript:void(0)" id="callback_tr" onclick="track('RAPPEL_CS')" data-check="ACTIVE" title="Être rappelé par mon conseiller">
                                        <div class="domplus-brown-button text-center" id="conseiler"> > JE SOUHAITE ÊTRE RAPPELÉ</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div id="ancreMail" class="col-md-4">
                            <div class="row action-link">
                                <div class="col-lg-12 col-md-12 col-4" style="padding: 0 30px 0 30px;">
                                    <img src="{{ asset('img/mail_side.svg') }}" title="Par email" alt="" style="width:100%; max-width: 150px"/>
                                    <br/>
                                    <br/>
                                </div>
                                <div class="col-lg-12 col-md-12 col-8" style="padding-left:30px;">
                                    <h4 class="responsive-font-size-conseillerpersonnel">JOINDRE MON CONSEILLER PAR E-MAIL</h4>
                                    <br/>
                                    <input type="email" name="email-contact" placeholder="Adresse électronique*" value="{% if userInfo.profile.email is not empty %}{{ userInfo.profile.email }}{% endif %}" class="form-control"/>
                                    <br/>
                                    <textarea class="form-control" name="message-contact" placeholder="Votre message*" rows="10"></textarea>

                                    <br/>
                                    <a href="javascript:void(0)" id="contact_tr" onclick="track('MAIL_CS')" data-check="ACTIVE" title="Par email">
                                        <div class="domplus-brown-button text-center"> > J'ENVOIE MA DEMANDE</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            {% else %}
                <div id="accueil" class="text-center">

                    <div class="row">
                        <div class="col-12 blue-header responsive-font-size" style="text-align: center; font-size: 1.5em;">
                            <a href="{{ url('auth') }}">
                                <img src="{{ asset('img/global_design/logo_MACIF_V2.png') }}"
                                     alt="" title="" class="d-none d-md-block"
                                     style="position: absolute; left:0; top:0; height: 100%; background: white; padding: 20px;border-bottom: 1px solid #0a2d82"
                                />
                            </a>
                            {{ userInfo.profile.firstname|capitalize }} {{ userInfo.profile.lastname|upper }}
                            <br/>
                            <span style="vertical-align: middle;">Votre espace SOLIDARITÉ COUPS DURS</span>
                            <span style="position: absolute; right: 20px; top: 20px;top: 50%;transform: translateY(-50%);">
                                <a id="menu" data-toggle="modal" href="#menuModal"  style="color:white;">
                                    <span style="font-size: 10px">Menu</span><br/>
                                    <i class="fa fa-bars" style="font-size: 30px; margin-top: -5px;"></i>
                                </a>
                            </span>
                        </div>
                    </div>

                    <br>
                    <br>
                    <br>

                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-12">
                            <a  href="{{ path('theme', {'category': 'fragilite'}) }}" title="Surmonter les fragilités financières">
                                <div>
                                    <img src="{{ asset('img/global_design/icon/euro.png') }}" title="Surmonter les fragilités financières" alt="" class="menu-btn"/>
                                    <br/>
                                    <span id="hover1">
                                        Surmonter les<br/>fragilités financières
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-6 col-12">
                            <a  href="{{ path('theme', {'category': 'relation'}) }}" title="Gérer les relations aidants - aidés">
                                <div>
                                    <img src="{{ asset('img/global_design/icon/people.png') }}" title="Gérer les relations aidants - aidés" alt="" class="menu-btn"/>
                                    <br/>
                                    <span id="hover2">
                                       Gérer les relations<br/>aidants - aidés
                                    </span>

                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-6 col-12">
                            <a  href="{{ path('theme', {'category': 'aleas'}) }}" title="Faire face aux aléas de la vie">
                                <div>
                                    <img src="{{ asset('img/global_design/icon/hands.png') }}" title="Faire face aux aléas de la vie" alt="" class="menu-btn"/>
                                    <br/>
                                    <span id="hover3">
                                        Faire face aux<br/>aléas de la vie
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-6 col-12">
                            <a  href="{{ path('theme', {'category': 'equilibre'}) }}" title="Équilibrer santé et activité">
                                <div>
                                    <img src="{{ asset('img/global_design/icon/balance.png') }}" title="Équilibrer santé et activité" alt="" class="menu-btn"/>
                                    <br/>
                                    <span id="hover4">
                                        Équilibrer santé et<br/>activité
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-12">
                            <a href="{{ path('main', {'page': 'conseillerpersonnel'}) }}" id="menu-btn-contact" class="btn btn-primary btn-lg">
                                <table>
                                    <tr>
                                        <td>
                                            <img src="{{ asset('img/global_design/icon/operator.png') }}" alt="" title=""/>
                                        </td>
                                        <td>
                                            CONTACTER MON<br/>CONSEILLER PERSONNEL
                                        </td>
                                    </tr>
                                </table>
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 offset-3" style="text-align: center; font-size: 1.2em; color: grey; border-top: solid lightgrey 1px; margin-top:10px;">
                            <div style="margin-top: -11px; background: #ffffff; width: 120px; margin-left: auto; margin-right: auto;">Autres liens</div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-6 offset-sm-3">
                            <ul class="domplus-menu-ul">
                                <a href="{{ appinfo.trWebsiteAccueil }}" class="domplus-ul-link" target="_blank" title="Site Macif">
                                    <li style="border-radius: 20px;">
                                        <img src="{{ asset('img/global_design/logo_macif_mini.png') }}" title="Site Macif" alt="" height="50" />
                                        Site Macif
                                    </li>
                                </a>
                            </ul>
                        </div>
                    </div>

                    <br/>

                    <a href="/ressources/cgu.pdf" title="Conditions Générales d'utilisation" target="_blank" style="color:#adacac;">Conditions générales d'utilisation</a>
                    <br/>
                    <a href="/ressources/donnees_personnelles.pdf" title="Données personnelles" target="_blank" style="color:#adacac;">Données personnelles</a>
                    <br/>
                    <br/>

                </div>

            {% endif %}

        {% endif %}


    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">

      function track(actionName){
        var dataToSend = {
          action_name : actionName,
        };

        $.ajax({
          method: "POST",
          url: "{{ path('ws_track') }}",
          dataType: 'json',
          data: dataToSend
        }).done(function( response ) {
        });
      }

      $('#callback_tr').on('click', function(){
        swal.fire({
            title:"Vous désirez être contacté par téléphone ?",
            width: '70%',
            html: '<div>\n' +
              ' <br/>\n' +
              'Lorsque vous envoyez ce formulaire, vos données personnelles sont traitées par le service « Solidarité ' +
              'Coups Durs », délivré par DOMPLUS, sous-traitant de la MACIF agissant en tant que Responsable du Traitement, ' +
              'afin de nous permettre de répondre à votre demande, d’améliorer la connaissance de vos besoins, de vous ' +
              'accompagner dans votre quotidien, de vous adresser des informations de prévention par mail ou sms. Les ' +
              'données pourront également faire l\'objet d\'études statistiques anonymes et d’enquêtes qualité pour ' +
              'évaluer le service proposé sur la base de l\'intérêt légitime de la Macif et de DOMPLUS d\'améliorer leurs ' +
              'services.' +
              ' </div>\n' +
              ' </br>\n' +
              ' </br>',
            icon: "info",
            footer:'<div class="text-left" style="font-size: 0.8em; color: grey;">\n                        ' +
              '<strong>PROTECTION DES DONNÉES PERSONNELLES</strong><br/><br/>\n                        ' +
              '<p>\n                        ' +
              'MACIF vous remercie de ne pas communiquer, dans votre message, des informations sensibles (numéro de sécurité sociale, informations de santé ou relatives à votre état de santé, données bancaires, etc.). \n' +
              '<br/>Vous disposez de droits d’accès, de rectification, d\'effacement, de limitation, d’opposition, le cas échéant de portabilité et de définir des directives relatives à la conservation, à l’effacement et à la communication de vos données à caractère personnel après votre décès. Vous pouvez retirer votre consentement aux traitements des données ce qui aura pour effet de les faire cesser.\n' +
              '<br/>Vous pouvez exercer vos droits et adresser toute demande d’information concernant vos données personnelles, sur le site www.macif.fr depuis le formulaire d’exercice des droits (indiquer "DOMPLUS" en commentaire) ou par voie postale à : MACIF - Direction Générale - 2 et 4 rue de Pied de Fond - 79 037 Niort Cedex 9.\n' +
              '<br/>Vous avez également le droit d\'introduire une réclamation auprès de la CNIL (www.cnil.fr).\n' +
              '<br/>Toutes les précisions sur la protection de vos données sont accessibles dans : <a href="/ressources/donnees_personnelles.pdf" target="_blank" title="Données personnelles">Données personnelles</a>\n' +
              '</p>\n                    ' +
              '</div>',
            showCancelButton: true,
            confirmButtonText: 'Oui',
            cancelButtonText: "Non",
          }
        ).then(function(isConfirm) {
          if (isConfirm.value !== undefined) {
            if($('#callback_tr').attr('data-check') === 'ACTIVE'){
              $('#callback_tr').attr('data-check', 'DISABLE');
              var dataToSend = {
                firstname : '{{ userInfo.profile.firstname }}',
                lastname : '{{ userInfo.profile.lastname }}',
                email : '{{ userInfo.profile.email }}',
                birthDate : '{{ userInfo.profile.birthDate|date('d/m/Y') }}',
                phone : $('input[name="phone-callback"]').val(),
                message: $('textarea[name="message-callback"]').val(),
                contactDayMon: $('input[name="contact-day-lun"]:checked').val(),
                contactDayTue: $('input[name="contact-day-mar"]:checked').val(),
                contactDayWed: $('input[name="contact-day-mer"]:checked').val(),
                contactDayThu: $('input[name="contact-day-jeu"]:checked').val(),
                contactDayFri: $('input[name="contact-day-ven"]:checked').val(),
                matin: $('input[name="matin"]').is(':checked'),
                apresMidi: $('input[name="apres-midi"]').is(':checked')
              };

              $.ajax({
                method: "POST",
                url: "{{ path('ws_callbacktr') }}",
                dataType: 'json',
                data: dataToSend
              }).done(function( response ) {
                if(response.error !== undefined){
                  swal.fire({
                    title: response.error,
                    text: response.msg,
                    icon: "error",
                    confirmButtonText: "Fermer"
                  });
                  $('#callback_tr').attr('data-check', 'ACTIVE');
                }else{
                  swal.fire({
                    title: 'Demande de rappel',
                    text: 'Votre demande de rappel a été prise en compte. Votre conseiller vous contactera dans les meilleurs délais',
                    icon: "success",
                    confirmButtonText: "Fermer"
                  });
                  $('#callback_tr').attr('data-check', 'ACTIVE');
                }
              });
            }
          }
        });

        return false;
      });

      $('#contact_tr').on('click', function(){
        swal.fire({
            title:"Vous voulez joindre votre conseiller par e-mail ?",
            width: '70%',
            html: '<div>\n                        ' +
              '<br/>\n                        ' +
              'Lorsque vous envoyez ce formulaire, vos données personnelles sont traitées par le service « Solidarité ' +
              'Coups Durs », délivré par DOMPLUS, sous-traitant de la MACIF agissant en tant que Responsable du Traitement, ' +
              'afin de nous permettre de répondre à votre demande, d’améliorer la connaissance de vos besoins, de vous ' +
              'accompagner dans votre quotidien, de vous adresser des informations de prévention par mail ou sms. Les ' +
              'données pourront également faire l\'objet d\'études statistiques anonymes et d’enquêtes qualité pour ' +
              'évaluer le service proposé sur la base de l\'intérêt légitime de la Macif et de DOMPLUS d\'améliorer leurs ' +
              'services. ' +
              '</div>\n                    ' +
              '<br/>\n                    ' +
              '<br/>',
            icon: "info",
            footer:"<div class=\"text-left\" style=\"font-size: 0.8em; color: grey;\">\n                        " +
              "<strong>PROTECTION DES DONNÉES PERSONNELLES</strong><br/><br/>\n                        " +
              "<p>\n                        " +
              "MACIF vous remercie de ne pas communiquer, dans votre message, des informations sensibles (numéro de sécurité sociale, informations de santé ou relatives à votre état de santé, données bancaires, etc.). \n" +
              "<br/>Vous disposez de droits d’accès, de rectification, d'effacement, de limitation, d’opposition, le cas échéant de portabilité et de définir des directives relatives à la conservation, à l’effacement et à la communication de vos données à caractère personnel après votre décès. Vous pouvez retirer votre consentement aux traitements des données ce qui aura pour effet de les faire cesser.\n" +
              "<br/>Vous pouvez exercer vos droits et adresser toute demande d’information concernant vos données personnelles, sur le site www.macif.fr depuis le formulaire d’exercice des droits (indiquer \"DOMPLUS\" en commentaire) ou par voie postale à : MACIF - Direction Générale - 2 et 4 rue de Pied de Fond - 79 037 Niort Cedex 9.\n" +
              "<br/>Vous avez également le droit d'introduire une réclamation auprès de la CNIL (www.cnil.fr ).\n" +
              "<br/>Toutes les précisions sur la protection de vos données sont accessibles dans la rubrique données personnelles sur notre site : <a href=\"/ressources/donnees_personnelles.pdf\" target=\"_blank\" title=\"Données personnelles\">Données personnelles</a>\n" +
              "</p>\n                    " +
              "</div>",
            showCancelButton: true,
            confirmButtonText: 'Oui',
            cancelButtonText: "Non",
          }
        ).then(function(isConfirm) {
          if (isConfirm.value !== undefined) {
            if($('#contact_tr').attr('data-check') === 'ACTIVE'){
              $('#contact_tr').attr('data-check', 'DISABLE');
              var dataToSend = {
                firstname : '{{ userInfo.profile.firstname }}',
                lastname : '{{ userInfo.profile.lastname }}',
                email : $('input[name="email-contact"]').val(),
                birthDate : '{{ userInfo.profile.birthDate|date('d/m/Y') }}',
                message: $('textarea[name="message-contact"]').val()
              };

              $.ajax({
                method: "POST",
                url: "{{ path('ws_contacttr') }}",
                dataType: 'json',
                data: dataToSend
              }).done(function( response ) {
                if(response.error !== undefined){
                  swal.fire({
                    title: response.error,
                    text: response.msg,
                    icon: "error",
                    confirmButtonText: "Fermer"
                  });
                  $('#contact_tr').attr('data-check', 'ACTIVE');
                }else{
                  swal.fire({
                    title: 'E-mail transmis',
                    text: 'Votre e-mail a bien été transmis. Votre conseiller vous contactera dans les meilleurs délais',
                    icon: "success",
                    confirmButtonText: "Fermer"
                  });
                  $('#contact_tr').attr('data-check', 'ACTIVE');
                }
              });
            }
          }
        });

        return false;
      });
    </script>
{% endblock %}
