{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <!-- HEADER DESKTOP -->
        <div class="row" style="">
            <div class="col-lg-6 d-none d-lg-block height">
                <div class="mx-auto mt-5" style="max-width: 600px; width: 60%;">
                    <img src="{{ asset('img/global_design/logo_MACIF_V2.png') }}" alt="" style="width: 70%;" title="solidarité coups durs" />
                    <img src="{{ asset('img/global_design/logo_macif_mini.png') }}" alt="" style="width: 20%" title="Macif" />
                </div>
            </div>
            <div class="col-lg-6 d-none d-lg-block height" style="background-color: #042b87; padding: 0;">
                <img src="{{ asset('img/global_design/top_picture.png') }}" alt="" title="{{ attrTitle }}" id="main-logo" />
            </div>
        </div>
        <!-- HEADER TABLET & MOBILE -->
        <div class="row d-lg-none">
            <div class="col-12">
                <div class="row">
                    <div class="col-6 height" style="vertical-align: middle;text-align: center">
                        <img class="mt-5" src="{{ asset('img/global_design/logo_MACIF_V2.png') }}" alt="" style="width: 100%;" title="solidarité coups durs" />
                    </div>
                    <div class="col-6 height" style="padding:0;">
                        <img src="{{ asset('img/global_design/people.png') }}" alt="" style="width: 100%; max-width: 370px; float: right;" title="{{ attrTitle }}" id="" />
                    </div>
                </div>
            </div>
            <div class="col-12" style="padding:0;">
                <img src="{{ asset('img/global_design/bottom_baniere.png') }}" alt="" style="width: 100%;" title="Macif" />
            </div>
        </div>

        <div class="row text-center" style="background: #83d0f5; padding-top: 25px; padding-bottom: 25px;">
            {% if error is defined %}
                <div class="col-12" style="z-index:1001;">
                    <div class="alert alert-danger">
                        {{ error.msg|raw }}
                    </div>
                    <br/>
                </div>
            {% endif %}
            <div class="col-md-6 offset-md-3">
                <div id="main-form">
                    <div class="d-none d-sm-none d-md-block">
                        Vous avez déjà un compte ?<br/><strong>Identifiez-vous</strong>
                    </div>
                    <div class="d-sm-block d-md-none">
                        <br/>
                        <strong>S'IDENTIFIER</strong>
                    </div>

                    <form method="post" action="{{ path('auth') }}">
                        <br/>
                        <input type="email" placeholder="Email" name="email" autocapitalize="none" value="{{ data.email ?? '' }}" autocomplete="off" class="form-control"/>
                        <br/>
                        <div>
                            <input type="password" placeholder="Mot de passe" name="password" autocapitalize="none" value="{{ data.password ?? '' }}" autocomplete="off"  class="form-control"/>
                            <i class="fa fa-eye show-password"></i>
                        </div>
                        <br/>
                        <div class="g-recaptcha" data-sitekey="{{ recaptcha_key }}" style="text-align:center;"></div>
                        <br/>
                        <em><a href="{{ path('password') }}" title="Mot de passe oublié ?" style="color: #025ea8;">Mot de passe oublié ?</a></em>

                        {% if usersStored|length > 0 %}
                            <div id="secondary-form" style="text-align: center;">
                                <h3>{{ (usersStored|first).firstname|capitalize }} {{ (usersStored|first).lastname|upper }}</h3>
                                <br/><br/>
                                <a href="javascript:void(0)" data-toggle="modal" data-target="#myModal" id="change-user" title="Changer/Ajouter un utilisateur">
                                    <img src="{{ asset('img/add_user_icon.svg') }}" title="Changer/Ajouter un utilisateur" style="width: 100px;" alt=""/>
                                </a>
                                <br/>
                                <br/>

                                {% if (usersStored|first).token is not defined or (usersStored|first).token == "" %}
                                    <input type="hidden" name="email2" value="{{ (usersStored|first).email }}"/>
                                    <input type="password" placeholder="Mot de passe" name="password2" autocapitalize="none" value="{{ data.password ?? '' }}"  class="form-control"/>
                                    <i class="fa fa-eye show-password"></i>
                                {% else %}
                                    <input type="hidden" name="token" value="{{ (usersStored|first).token }}"/>
                                {% endif %}
                                <br/>
                                <div class="g-recaptcha" data-sitekey="{{ recaptcha_key }}"></div>
                            </div>
                        {% endif %}
                        <br/><br/>
                        <input class="col-12" type="submit" id="submit_connexion" value="ME CONNECTER"/>
                        <br/><br/>
                        <div class="text-left" style="padding-left: 20%;">
                            <input type="checkbox" name="mem_email" value="TRUE" id="mem_email" {{ data.mem_email is defined ? 'checked' : '' }}/><label style="font-weight: normal; vertical-align: top;margin-left: 15px;" for="mem_email" >Mémoriser l'email</label>
                            <br/>
                            <input type="checkbox" name="stay_connected" value="TRUE" id="stay_connected" {{ data.stay_connected is defined ? 'checked' : '' }}/><label style="font-weight: normal; vertical-align: top;margin-left: 15px;" for="stay_connected" >Rester identifié</label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br/>
        <br/>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
