{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container">

        {% if userInfo.profile.role != 'CLIENT' %}

            <div class="row bg-blue">
                <div class="col-xs-12 blue-header">
                    IDENTIFICATION
                </div>
            </div>

            <br/><br/>

            <div class="row">
                <div class="col-xs-6 col-xs-offset-3">
                    Service Solidarité Coups Durs
                </div>
            </div>

            <br/><br/>

            <div class="row">
                <div class="col-xs-12">
                    <p style="text-align: center">
                        Il semble que votre session a expiré.<br/>
                        Veuillez vous déconnecter et vous connecter à nouveau.
                    </p>
                </div>
            </div>
            <br/>
            <br/>
        {% else %}

            <div id="accueil">
                <div class="row">
                    <div class="col-xs-12 headtitle-w-name">
                        <span class="pull-left"><a href="javascript:void(0);" onclick="window.history.back();" title="Précédent" style="color:white;"><i class="fa fa-arrow-circle-o-left" style="font-size: 35px;"></i></a></span>
                        <span style="vertical-align: middle;">www.macif-solidarite.fr</span>
                        <span style="position: absolute; right: 20px; top: 20px;top: 50%;transform: translateY(-50%);">
                            <a id="menu" data-toggle="modal" href="#menuModal"  style="color:white;">
                                <span style="font-size: 10px">Menu</span><br/>
                                <i class="fa fa-bars" style="font-size: 30px; margin-top: -5px;"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 white-header responsive-font-size" style="border-bottom: white solid 1px; text-align: center; font-size: 1.5em; ">
                        {{ soustheme.title }}
                    </div>
                </div>

                {% if soustheme.pictureOnly == false %}
                    {% if soustheme.picture != '' %}
                        <div class="row" style="height: 270px; background-image: url({{ soustheme.picture }}); background-repeat: no-repeat; background-size: cover">

                        </div>
                    {% endif %}
                    <br/>
                    <div class="row">
                        <div class="domplus-yellow-box">{{ soustheme.content | raw | nl2br }}</div>
                    </div>
                {% else %}
                    <img src="{{ soustheme.picture }}" style="width: 100%"/>
                {% endif %}

                <div class="row">
                    <div class="col-xs-12">
                        <a href="{{ path('main', {'page':'conseillerpersonnel'}) }}" title="Mon conseiller personnel">
                            <div class="domplus-brown-button">
                                <img src="{{ asset('img/proxime/operator_white_icon.svg') }}" title="mon conseiller personnel" alt="" />CONTACTER MON CONSEILLER PERSONNEL
                            </div>
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="scroll-top">
                            <i class="fa fa-chevron-circle-up"></i>
                            <br>
                            Revenir en haut
                        </div>
                    </div>
                </div>
            </div>

        {% endif %}
            <br/><br/>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}