{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <!-- HEADER DESKTOP -->
        <div class="row" style="">
            <div class="col-lg-6 height d-none d-lg-block">
                <div class="mt-5 mx-auto" style="max-width: 600px; width: 60%;">
                    <img src="{{ asset('img/global_design/logo_MACIF_V2.png') }}" alt="" style="width: 70%;" title="solidarité coups durs" />
                    <img src="{{ asset('img/global_design/logo_macif_mini.png') }}" alt="" style="width: 20%" title="Macif" />
                </div>
            </div>
            <div class="col-lg-6 height d-none d-lg-block" style="background-color: #042b87; padding: 0;">
                <img src="{{ asset('img/global_design/top_picture.png') }}" alt="" title="{{ attrTitle }}" id="main-logo" />
            </div>
        </div>
        <!-- HEADER TABLET & MOBILE -->
        <div class="row d-md-block d-lg-none">
            <div class="col-12">
                <div class="row">
                    <div class="col-6 height" style="vertical-align: middle;text-align: center">
                        <img class="mx-auto mt-5" src="{{ asset('img/global_design/logo_MACIF_V2.png') }}" alt="" style="width: 100%;" title="solidarité coups durs" />
                    </div>
                    <div class="col-6 height" style="padding:0;">
                        <img src="{{ asset('img/global_design/people.png') }}" alt="" style="width: 100%; max-width: 370px; float: right;" title="{{ attrTitle }}" id="" />
                    </div>
                </div>
            </div>
            <div class="col-12" style="padding:0;">
                <img src="{{ asset('img/global_design/bottom_baniere.png') }}" alt="" style="width: 100%;" title="Macif" />
            </div>
        </div>

        <div class="row" style="background: #83d0f5; padding-top: 25px; padding-bottom: 25px;">
            {#{% if error is defined %}
                <div class="col-12" style="z-index:1001;">
                    <div class="alert alert-danger">
                        {{ error.msg|raw }}
                    </div>
                    <br/>
                </div>
            {% endif %}
            <div class="col-md-5 col-md-offset-1" style="margin-bottom: 20px;">
                <div class="hidden-sm visible-md visible-lg" style="margin-top:100px;"></div>
                <div class="visible-xs visible-sm visible-md hidden-lg">
                    Vous avez déjà un compte ? <a href="#login-anchor">Identifiez-vous</a>
                    <br/><br/>
                </div>
                <strong>ACCÉDER À MON ESPACE</strong>
                <br/><br/>
                <p>
                    Vous n'avez pas encore de compte ?<br/>
                    Créez le ci-dessous et accédez à votre espace.
                </p>
                <br/>
                <a href="{{ url('app_main_insciption') }}" class="text-center btn btn-primary btn-lg" style="white-space: inherit;" id="btn-inscription">CRÉER MON COMPTE</a>

                <hr class="visible-sm visible-xs hidden-lg" style="margin-top: 50px; margin-bottom: 50px;" id="login-anchor"/>
            </div>
            <div class="col-md-5" style="border-left: solid white 1px;">
                <div id="main-form">
                    <div class="hidden-sm visible-md visible-lg">
                        Vous avez déjà un compte ?<br/><strong>Identifiez-vous</strong>
                    </div>
                    <div class="visible-xs visible-sm hidden-md hidden-lg">
                        <br/>
                        <strong>S'IDENTIFIER</strong>
                    </div>

                    <form method="post" action="{{ path('auth') }}">
                        <br/>
                        <input type="email" placeholder="Email" name="email" autocapitalize="none" value="{{ data.email ?? '' }}" autocomplete="off" class="form-control"/>
                        <br/>
                        <div>
                            <input type="password" placeholder="Mot de passe" name="password" autocapitalize="none" value="{{ data.password ?? '' }}" autocomplete="off"  class="form-control"/>
                            <i class="fa fa-eye show-password"></i>
                        </div>
                        <br/>
                        <div class="g-recaptcha" data-sitekey="{{ recaptcha_key }}" style="text-align:center;"></div>
                        <br/>
                        <em><a href="{{ path('password') }}" title="Mot de passe oublié ?" style="color: #025ea8;">Mot de passe oublié ?</a></em>

                        {% if usersStored|length > 0 %}
                            <div id="secondary-form" style="text-align: center;">
                                <h3>{{ (usersStored|first).firstname|capitalize }} {{ (usersStored|first).lastname|upper }}</h3>
                                <br/><br/>
                                <a href="javascript:void(0)" data-toggle="modal" data-target="#myModal" id="change-user" title="Changer/Ajouter un utilisateur">
                                    <img src="{{ asset('img/add_user_icon.svg') }}" title="Changer/Ajouter un utilisateur" style="width: 100px;" alt=""/>
                                </a>
                                <br/>
                                <br/>

                                {% if (usersStored|first).token is not defined or (usersStored|first).token == "" %}
                                    <input type="hidden" name="email2" value="{{ (usersStored|first).email }}"/>
                                    <input type="password" placeholder="Mot de passe" name="password2" autocapitalize="none" value="{{ data.password ?? '' }}"  class="form-control"/>
                                    <i class="fa fa-eye show-password"></i>
                                {% else %}
                                    <input type="hidden" name="token" value="{{ (usersStored|first).token }}"/>
                                {% endif %}
                                <br/>
                                <div class="g-recaptcha" data-sitekey="{{ recaptcha_key }}"></div>
                            </div>
                        {% endif %}
                        <br/><br/>
                        <input class="col-12" type="submit" id="submit_connexion" value="ME CONNECTER"/>
                        <br/><br/>
                        <div class="text-left" style="padding-left: 20%;">
                            <input type="checkbox" name="mem_email" value="TRUE" id="mem_email" {{ data.mem_email is defined ? 'checked' : '' }}/><label style="font-weight: normal; vertical-align: top;margin-left: 15px;" for="mem_email" >Mémoriser l'email</label>
                            <br/>
                            <input type="checkbox" name="stay_connected" value="TRUE" id="stay_connected" {{ data.stay_connected is defined ? 'checked' : '' }}/><label style="font-weight: normal; vertical-align: top;margin-left: 15px;" for="stay_connected" >Rester identifié</label>
                        </div>
                    </form>
                </div>
            </div>#}
            <div class="col-12 text-center">
                <br/>
                <div class="alert alert-info" style="max-width: 600px; margin: auto;">
                    La connexion à ce service est accessible uniquement depuis votre espace adhérent MACIF.
                    <br/>
                    N'hésitez pas à contacter votre conseiller pour de plus amples informations.
                </div>
                <br/>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center" style="border-top: solid 2px #0a2d82; border-bottom: solid 2px #0a2d82; padding: 20px">
                <p>
                    Macif agit en solidarité pour ses sociétaires, en particulier dans les moments délicats des parcours
                    de vie et du quotidien, avec le service Macif Solidarité Coups Durs.
                </p>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-10 offset-lg-1 text-center">

                <h3>Votre espace Solidarité Coups Durs vous permet :</h3>
                <br/>
                <br/>

                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <p style="text-align: left;">
                            - De développer vos connaissances et évaluer vos besoins sur des thématiques qui vous concernent grâce
                            à différents supports d'information :
                        </p>
                    </div>
                </div>
                <br/>
                <br/>
                <div class="row text-center" id="auth-page-info">
                    <div class="col-md-4">
                        <img class="picto-responsive" src="{{ asset('img/global_design/icon/documents.png') }}" alt="" /><br class="hidden-sm visible-md visible-lg"/>
                        <strong style="color: #6f6f6f;">Fiches-conseil dédiées</strong>
                    </div>
                    <div class="col-md-4">
                        <img class="picto-responsive" src="{{ asset('img/global_design/icon/formations.png') }}" alt="" /><br class="hidden-sm visible-md visible-lg"/>
                        <strong style="color: #6f6f6f;">Micro-formations en ligne</strong>

                    </div>
                    <div class="col-md-4">
                        <img class="picto-responsive" src="{{ asset('img/global_design/icon/quiz.png') }}" alt="" /><br class="hidden-sm visible-md visible-lg"/>
                        <strong style="color: #6f6f6f;">Quiz</strong>
                    </div>
                </div>
                <br/>
                <br/>

                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <p style="text-align: left;">
                            - D'entrer en contact avec <strong>votre conseiller personnel</strong> pour être accompagné(e).
                        </p>
                    </div>
                </div>
                <br/>
                <br/>
                <br/>
                <br/>
            </div>
        </div>
        <br/>
        <br/>
    </div>

    {% if usersStored|length > 0 %}
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Ajouter / Changer d'utilisateur</h4>
                    </div>
                    <div class="modal-body" id="change-user-body">
                        {% for key, user in usersStored %}
                            <a href="{{ path('changeuser', {'user_id':key}) }}" title="Se connecter sur le compte de {{ user.firstname }}">
                                <div class="btn-change-user"><i class="fa fa-user-circle-o"></i> {{ user.firstname|capitalize }} {{ user.lastname|upper }}</div>
                            </a>
                        {% endfor %}
                        <br/>
                        <a href="{{ path('logout', {'action':'changeuser'}) }}" title="Se connecter avec un autre compte">
                            <div class="btn-add-user"><i class="fa fa-user-plus"></i> Autre</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if success_message is defined %}
        <script type="text/javascript">
            swal.fire({
                title: 'Compte validé',
                text: 'Votre compte a été validé. Connectez-vous dès à présent afin d\'utiliser tous les services de votre espace Macif Solidarité Coups Durs ',
                icon: "success",
                confirmButtonText: "Fermer"
            });
        </script>
    {% endif %}
    <script type="text/javascript">

        {% if usersStored|length > 0 and changeUser is not defined %}
        console.log($('#main-form input'));
        $('#main-form').hide();
        $('#secondary-form').show();
        $('#main-form input').prop('disabled', true);
        $('#secondary-form input').prop('disabled', false);
        {% else %}
        $('#secondary-form').hide();
        $('#main-form').show();
        $('#main-form input').prop('disabled', false);
        $('#secondary-form input').prop('disabled', true);
        {% endif %}

        // $("#change-user").on('click', function(){
        //     $('#secondary-form').hide();
        //     $('#main-form').show();
        //     $('#main-form > :input').prop('disabled', false);
        //     $('#secondary-form > :input').prop('disabled', true);
        // });

        // if (window.matchMedia('(display-mode: standalone)').matches) {
        //     console.log(window.matchMedia('(display-mode: standalone)').matches);
        // }else{
        //     console.log(window.matchMedia('(display-mode: standalone)').matches);
        //     addToHomescreen();
        // }


    </script>

{% endblock %}
