{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <a href="{{ path('main', {'page':'conseillerpersonnel'}) }}" title="Contacter mon conseiller personnel">
            <div class="contactWidget">
                <i class="fa fa-comments" aria-hidden="true"></i>
            </div>
        </a>
        <div class="row">
            <div class="col-12 blue-header" style="text-align: center; font-size: 1.5em;">
                <a href="/accueil" title="Précédent" style="color:white;">
                    <img src="{{ asset('img/global_design/logo_MACIF_V2.png') }}"
                         alt="" title="" class="d-none d-md-block"
                         style="position: absolute; left:0; top:0; height: 100%; background: white; padding: 10px;"
                    />
                </a>
                <span class="d-md-none" style="position: absolute; left: 20px;" >
                    <a href="/accueil" title="Précédent" style="color:white;">
                        <i class="fa fa-arrow-circle-o-left" style="font-size: 35px;"></i>
                    </a>
                </span>
                <span style="vertical-align: middle;">www.macif-solidarite.fr</span>
                <span style="position: absolute; right: 20px; top: 50%;transform: translateY(-50%);">
                    <a id="menu" data-toggle="modal" href="#menuModal"  style="color:white;">
                        <span style="font-size: 10px">Menu</span><br/>
                        <i class="fa fa-bars" style="font-size: 30px; margin-top: -5px;"></i>
                    </a>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-12 white-header responsive-font-size" style="text-align: center; font-size: 1.5em; ">
                Mon compte
            </div>
        </div>

        <br/>
        <br/>
        <br/>

        <div id="inscription_form" class="row">
            <div class="col-md-8 offset-md-2">
                <div class="row">
                    <div class="col-6">
                        <input type="text" placeholder="Prénom*" name="firstname" autocapitalize="none" value="{{ userInfo.profile.firstname }}" autocomplete="off" class="form-control"/>
                    </div>
                    <div class="col-6">
                        <input type="text" placeholder="Nom*" name="lastname" autocapitalize="none" value="{{ userInfo.profile.lastname }}" autocomplete="off" class="form-control"/>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-12">
                        <input type="email" placeholder="Email*" name="email" autocapitalize="none" value="{{ userInfo.profile.email }}" autocomplete="off" class="form-control"/>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-6">
                        <input type="tel" placeholder="Numéro de téléphone mobile (optionnel)" name="phone" value="{{ userInfo.profile.phone }}" autocomplete="off" class="form-control"/>
                    </div>
                    <div class="col-6">
                        <input type="tel" placeholder="Numéro de sociétaire (optionnel)" name="member_num" value="{{ userInfo.profile.memberNum }}" autocomplete="off" class="form-control"/>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-12 text-center">
                        <br/>
                        <a href="/ressources/cgu.pdf" title="Conditions Générales d'utilisation" target="_blank">Conditions générales d'utilisation</a>
                        <br/>
                        <br/>
                        <a class="btn btn-lg btn-primary" href="javascript:void(0)" id="submit_inscription">ENREGISTRER</a>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-12" style="text-align: center; font-size: 11px;">
                        <em>
                            <br/>
                            <strong>PROTECTION DES DONNÉES PERSONNELLES</strong><br/>
                            <br/>Les données recueillies dans le cadre des services "Solidarité Coups Durs" (participation aux quizz scorés, prise de contact avec un conseiller, accompagnement social) feront l'objet de traitements par la MACIF, responsable de traitement, et par son sous-traitant DOMPLUS sur la base de votre consentement.
                            <br/>Vous disposez de droits d’accès, de rectification, d'effacement, de limitation, d’opposition, le cas échéant de portabilité et de définir des directives relatives à la conservation, à l’effacement et à la communication de vos données à caractère personnel après votre décès.
                            <br/>Vous pouvez retirer votre consentement aux traitements des données ce qui aura pour effet de les faire cesser.
                            <br/>Vous pouvez exercer vos droits et adresser toute demande d’information concernant vos données personnelles, sur le site www.macif.fr depuis le formulaire d’exercice des droits (indiquer "DOMPLUS" en commentaire) ou par voie postale à : MACIF - Direction Générale - 2 et 4 rue de Pied de Fond - 79 037 Niort Cedex 9.
                            <br/>Vous avez également le droit d'introduire une réclamation auprès de la CNIL (www.cnil.fr ).
                            <br/>Toutes les précisions sur la protection de vos données sont accessibles dans la rubrique données personnelles sur notre site :
                            <a href="/ressources/donnees_personnelles.pdf" target="_blank" title="Données personnelles">Données personnelles</a>
                        </em>
                    </div>
                </div>
            </div>
            <br/>
            <br/>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $('#submit_inscription').on('click', function(){

            if($('#submit_inscription').html() === 'ENREGISTRER'){
                $('#submit_inscription').html('Chargement...');
                var dataToSend = {
                    firstname : $('[name="firstname"]').val(),
                    lastname : $('[name="lastname"]').val(),
                    email : $('[name="email"]').val(),
                    phone : $('[name="phone"]').val(),
                    member_num : $('[name="member_num"]').val(),
                    password : $('[name="password"]').val(),
                    password2 : $('[name="password2"]').val()
                };

                $.ajax({
                    method: "POST",
                    url: "{{ path('ws_update_profile') }}",
                    dataType: 'json',
                    data: dataToSend
                }).done(function( response ) {
                    if(response.error !== undefined){
                        swal.fire({
                            title: response.error,
                            text: response.msg,
                            icon: "error",
                            confirmButtonText: "Fermer"
                        });

                        if(Array.isArray(response.input_name)) {
                            $.each(response.input_name, function(index, value) {
                                $('input[name^="' + value + '"]').css('border', 'solid 2px #ff9898');
                            });
                        }
                        else {
                            $('input[name^="' + response.input_name + '"]').css('border', 'solid 2px #ff9898');
                        }

                        $('#submit_inscription').html('ENREGISTRER');
                    }else{
                        swal.fire({
                            title: 'Enregistrement effectué',
                            text: 'Vos données ont bien été mises à jour',
                            icon: "success",
                            confirmButtonText: "Fermer"
                        });
                        $('input').css('border', '1px solid rgb(210, 210, 210)');
                        $('#submit_inscription').html('ENREGISTRER');
                    }
                });
            }
        });
    </script>
    {{ parent() }}
{% endblock %}
