{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block bodyId %}admin-body{% endblock %}

{% block content %}
<div style="width:100%; text-align: left; display: flex;">
    <div id="side-menu">
        <div class="" style="width: 100%; margin-bottom: 20px;">
            <img style="width:60%; margin: 10px;" src="{{ asset('img/base_circle_icon.svg') }}" alt="" title="Domplus"/>
        </div>

        <a href="javascript:void(0)" id="btn-parametrage" title="Paramétrages">
            <div class="col-xs-12 btn-sidebar" style="">
                <i class="fa fa-cog"></i><br/>
                Paramétrages
            </div>
        </a>

        <a href="javascript:void(0);" id="btn-client" title="Gestion des clients">
            <div class="col-xs-12 btn-sidebar" style="">
                <i class="fa fa-user"></i><br/>
                Gestion Clients
            </div>
        </a>

        <a href="javascript:void(0);" id="btn-theme" title="Gestion des thèmes">
            <div class="col-xs-12 btn-sidebar" style="">
                <i class="fa fa-folder-open"></i><br/>
                Gestion des thèmes
            </div>
        </a>

        <a href="javascript:void(0);" id="btn-article" title="Gestion des articles">
            <div class="col-xs-12 btn-sidebar" style="">
                <i class="fa fa-file"></i><br/>
                Gestion des articles
            </div>
        </a>

        <a href="{{ path('logout', {'action': 'confirmation'}) }}" title="Déconnexion">
            <div class="col-xs-12 btn-sidebar" style="margin-top: 50px;">
                <i class="fa fa-power-off"></i>
            </div>
        </a>
    </div>
    <div id="right-content">

        <div id="clientList" class="list-group"></div>
        <div id="editClient"></div>
        <div id="themeList" class="list-group"></div>
        <div id="articleList" class="list-group"></div>
        <div id="parameters">
            <h2 style="font-weight: bold; color: #3e3e3e;">Gestion des paramètres</h2>
            <hr/>

            <h3>Espace conseiller et sites partenaires</h3>
            <br/>
            <input type="checkbox" value="true" name="hideRatingAfterMark" {{ (appinfo.hideRatingAfterMark) ? 'checked' : '' }} /> Masquer les notations après que le client ait donné sa note
            <br/>
            <br/>
            <label>Adresse du site d'accueil</label>
            <input type="text" class="form-control" style="width: 50%" name="trWebsiteAccueil" value="{{ appinfo.trWebsiteAccueil }}"/>
            <br/>
            <label>Numéro de téléphone</label>
            <input type="phone" class="form-control" style="width: 50%" name="trConseillerPhone" value="{{ appinfo.trConseillerPhone }}"/>
            <br/>
            <label>Adresse email direct</label>
            <input type="email" class="form-control" style="width: 50%" name="trConseillerMailDirect" value="{{ appinfo.trConseillerMailDirect }}"/>
            <br/>
            <label>Adresse email de rappel</label>
            <input type="email" class="form-control" style="width: 50%" name="trConseillerMailCallback" value="{{ appinfo.trConseillerMailCallback }}"/>
            <br/>
            <label>Information de contact</label>
            <textarea name="trMessageCallConseiller" style="height: 200px;" class="form-control">{{ appinfo.trMessageCallConseiller }}</textarea>
            <br/>

            <hr/>
            <h3>Informations globales</h3>
            <br/>
            <label>Conditions générales</label>
            <textarea rows="20" name="generalCondition" class="form-control">{{ appinfo.generalCondition }}</textarea>
            <br/>
            <a href="javascript:void(0)" id="save-info" onclick="updateInformations()" class="btn btn-success">Enregistrer</a>
            <a href="{{ path('dashboard') }}" id="save-info" class="btn btn-default">Annuler</a>
            <br/><br/>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">

        $('#articleList').hide();
        $('#themeList').hide();
        $('#clientList').hide();
        $('#editClient').hide();
        $('#parameters').show();

        $('#btn-client').on('click', function(){
            $('#clientList').show();
            $('#editClient').hide();
            $('#parameters').hide();
            $('#articleList').hide();
            $('#themeList').hide();
        });
        $('#btn-parametrage').on('click', function(){
            $('#articleList').hide();
            $('#themeList').hide();
            $('#clientList').hide();
            $('#editClient').hide();
            $('#parameters').show();
        });
        $('#btn-article').on('click', function(){
            $('#articleList').show();
            $('#themeList').hide();
            $('#clientList').hide();
            $('#editClient').hide();
            $('#parameters').hide();
        });
        $('#btn-theme').on('click', function(){
            $('#articleList').hide();
            $('#themeList').show();
            $('#clientList').hide();
            $('#editClient').hide();
            $('#parameters').hide();
        });


        getClients();
        getThemes();
        getsousthemes();

        function getThemes(){
            var dataToSend = {
            };

            $("#themeList").html('<i class="icon-spin5 animate-spin"></i> Chargement...');

            $.ajax({
                method: "POST",
                url: Routing.generate('getthemes'),
                dataType: 'json',
                data: dataToSend
            }).done(function( response ) {
                $("#themeList").html(response['template_theme']);
                $('#add-soustheme-theme-id').html(response['template_theme_option']);
                $('#edit-soustheme-theme-id').html(response['template_theme_option']);
            });
        }
        function getsousthemes(){
            var dataToSend = {
            };

            $("#articleList").html('<i class="icon-spin5 animate-spin"></i> Chargement...');

            $.ajax({
                method: "POST",
                url: Routing.generate('getsousthemes'),
                dataType: 'json',
                data: dataToSend
            }).done(function( response ) {
                $("#articleList").html(response['template_article']);
            });
        }
        function getClients(){
            var dataToSend = {
            };

            $("#clientList").html('<i class="icon-spin5 animate-spin"></i> Chargement...');

            $.ajax({
                method: "POST",
                url: Routing.generate('getclients'),
                dataType: 'json',
                data: dataToSend
            }).done(function( response ) {
                $("#clientList").html(response['template_client']);
            });
        }
        function updateInformations(){

            var dataToSend = {
                'hideRatingAfterMark' : $('input[name="hideRatingAfterMark"]').is(':checked'),
                'trWebsiteAccueil' : $('input[name="trWebsiteAccueil"]').val(),
                'trConseillerPhone' : $('input[name="trConseillerPhone"]').val(),
                'trConseillerMailDirect' : $('input[name="trConseillerMailDirect"]').val(),
                'trConseillerMailCallback' : $('input[name="trConseillerMailCallback"]').val(),
                'trMessageCallConseiller' : $('textarea[name="trMessageCallConseiller"]').val(),
                'generalCondition' : $('textarea[name="generalCondition"]').val()
            };

            $('#save-info').html('<i class="icon-spin5 animate-spin"></i> Veuillez patienter...');
            $('#save-info').attr('onclick', '');

            $.ajax({
                method: "POST",
                url: Routing.generate('updateinformation'),
                dataType: 'json',
                data: dataToSend
            }).done(function( response ) {
                if(response.error !== undefined){
                  swal.fire({
                    title: response.title,
                    text: response.error,
                    icon: "error",
                    confirmButtonText: "Fermer"
                  }).then(function(isConfirm) {
                    if(isConfirm){
                      $('#save-info').html('Enregistrer');
                      $('#save-info').attr('onclick', 'updateInformations();');
                    }
                  });
                }else{
                  swal.fire({
                    title: 'INFORMATIONS MISES A JOUR',
                    text: 'Les paramètres ont bien été sauvegardés',
                    icon: "success",
                    confirmButtonText: "Fermer"
                  }).then(function(isConfirm) {
                    if(isConfirm){
                      $('#save-info').html('Enregistrer');
                      $('#save-info').attr('onclick', 'updateInformations();');
                    }
                  });
                }
            });
        }
    </script>

{% endblock %}