{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <!-- HEADER DESKTOP -->
        <div class="row" style="">
            <div class="col-lg-6 height d-none d-lg-block">
                <div class="mt-5 mx-auto" style="max-width: 600px; width: 60%;">
                    <img src="{{ asset('img/global_design/logo_MACIF_V2.png') }}" alt="" style="width: 70%;" title="solidarité coups durs" />
                    <img src="{{ asset('img/global_design/logo_macif_mini.png') }}" alt="" style="width: 20%" title="Macif" />
                </div>
            </div>
            <div class="col-lg-6 height d-none d-lg-block" style="background-color: #042b87; padding: 0;">
                <img src="{{ asset('img/global_design/top_picture.png') }}" alt="" title="{{ attrTitle }}" id="main-logo" />
            </div>
        </div>
        <!-- HEADER TABLET & MOBILE -->
        <div class="row d-md-block d-lg-none">
            <div class="col-12">
                <div class="row">
                    <div class="col-6 height" style="vertical-align: middle;text-align: center">
                        <img class="mx-auto mt-5" src="{{ asset('img/global_design/logo_MACIF_V2.png') }}" alt="" style="width: 100%;" title="solidarité coups durs" />
                    </div>
                    <div class="col-6 height" style="padding:0;">
                        <img src="{{ asset('img/global_design/people.png') }}" alt="" style="width: 100%; max-width: 370px; float: right;" title="{{ attrTitle }}" id="" />
                    </div>
                </div>
            </div>
            <div class="col-12" style="padding:0;">
                <img src="{{ asset('img/global_design/bottom_baniere.png') }}" alt="" style="width: 100%;" title="Macif" />
            </div>
        </div>

        <div class="row text-center" style="padding-top: 25px; padding-bottom: 25px; border-top: #f9f9f9 solid 1px;">
            <div class="alert alert-danger text-center" style="margin: auto;">
                <strong>Une erreur est survenue.</strong>
                <br/>
                <br/>
                Il semblerait que ce service ait été momentanément désactivé.
                <br/>
                Pour plus d'information, veuillez contacter l'administrateur du site.
                <br/>
                <br/>
                Erreur : <em>{{ message|raw }}</em>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
