{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container" style="border: none;min-height: auto;">
        <!-- HEADER DESKTOP -->
        <div class="row hidden-md visible-lg">
            <div class="col-lg-6">
                <div style="max-width: 600px; width: 60%; margin: auto;">
                    <img src="{{ asset('img/global_design/logo_MACIF_V2.png') }}" alt="" style="width: 70%; margin: 50px 10px 50px 10px;" title="solidarité coups durs" />
                    <img src="{{ asset('img/global_design/logo_macif.png') }}" alt="" style="width: 20%" title="Macif" />
                </div>
            </div>
            <div class="col-lg-6" style="background-color: #042b87; padding: 0;">
                <img src="{{ asset('img/global_design/top_picture.png') }}" alt="" title="{{ attrTitle }}" id="main-logo" />
            </div>
        </div>
        <!-- HEADER TABLET & MOBILE -->
        <div class="row hidden-lg visible-md visible-sm visible-xs">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-6" style="vertical-align: middle;">
                        <img src="{{ asset('img/global_design/logo_MACIF_V2.png') }}" alt="" style="width: 100%; padding-top: 20%; padding-left: 10%; padding-right: 10%;" title="solidarité coups durs" />
                    </div>
                    <div class="col-xs-6" style="padding:0;">
                        <img src="{{ asset('img/global_design/people.png') }}" alt="" style="width: 100%; max-width: 370px; float: right;" title="{{ attrTitle }}" id="" />
                    </div>
                </div>
            </div>
            <div class="col-xs-12" style="padding:0;">
                <img src="{{ asset('img/global_design/bottom_baniere.png') }}" alt="" style="width: 100%;" title="Macif" />
            </div>
        </div>
    </div>
    <div class="container-fluid" style="background: #83d0f5;">
        <div id="inscription_form"  class="container" style="border: none;min-height: auto;background-color: #83d0f5 !important;">
            <br/>
            <br/>
            <br/>
            <div class="row">
                <div class="col-xs-6">
                    <input type="text" placeholder="Prénom*" name="firstname" autocapitalize="none" autocomplete="off" class="form-control"/>
                </div>
                <div class="col-xs-6">
                    <input type="text" placeholder="Nom*" name="lastname" autocapitalize="none" autocomplete="off" class="form-control"/>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-12">
                    <input type="email" placeholder="Email*" name="email" autocapitalize="none" autocomplete="off" class="form-control"/>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-xs-6">
                    <input type="tel" placeholder="Numéro de téléphone mobile (optionnel)" name="phone" autocomplete="off" class="form-control"/>
                </div>
                <div class="col-xs-6">
                    <input type="tel" placeholder="Numéro de sociétaire (optionnel)" name="member_num" autocomplete="off" class="form-control"/>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-12" style="">
                    <input type="password" placeholder="Mot de passe* (au moins 8 lettres et un chiffre sans caractères spéciaux)" autocomplete="off" name="password" class="form-control"/>
                    <i class="fa fa-eye show-password" style="position: absolute; top: 8px; right: 30px;"></i>
                </div>
            </div>
            <br/>
            <div class="row text-left">
                <div class="col-md-12">
                    <input type="password" placeholder="Confirmation du mot de passe*" name="password2" autocomplete="off" class="form-control"/>
                    <br/>
                    <em style="font-size: 11px;">(*) Champs obligatoires</em>
                </div>
            </div>
            <br/>
            <br/>
            <br/>
        </div>
    </div>
    <div class="container" style="border: none;min-height:auto">
        <div class="row">
            <div class="col-xs-12">
                <br/>
                <a href="/ressources/cgu.pdf" title="Conditions Générales d'utilisation" target="_blank">Conditions générales d'utilisation</a>
                <br/>
                <br/>
                <a class="btn btn-lg btn-primary" href="javascript:void(0)" id="submit_inscription">VALIDER</a>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-xs-12" style="text-align: left; font-size: 11px;">
                <em>
                    <br/>
                    <strong>PROTECTION DES DONNÉES PERSONNELLES</strong><br/>
                    <br/>
                    Les données recueillies dans le cadre du test des services "Solidarité Coups Durs" feront l'objet de traitements par la MACIF, responsable de traitement, et par son sous-traitant DOMPLUS.<br/>
                    Au travers d'une plateforme internet contenant des fiches informatives, des conseils sur les thématiques relation aidant / aidé, santé financière, aléas de vie, des quizz scorés permettant de détecter des niveaux de fragilité, vous pouvez aussi prendre contact avec un conseiller DOMPLUS, pour votre accompagnement social. Ce traitement est réalisé sur la base de votre consentement.<br/>
                    Les données pourront également faire l'objet d'études statistiques pour évaluer le service proposé à ce jour en test, sur la base de l'intérêt légitime de la Macif d'améliorer son service.<br/>
                    Les données recueillies par DOMPLUS concernent votre identification (nom, prénom, numéro de sociétaire Macif, mot de passe, email et numéro de téléphone), vos données de connexion (navigation et accès aux contenus de la plateforme internet), ainsi que des données relatives à votre vie personnelle, à votre situation économique, financière ou psycho-sociale (réponses aux quizz), ou à votre santé.<br/>
                    Les données sont destinées à DOMPLUS pour la mise en œuvre de l’accompagnement social ainsi qu'aux services en charge des réclamations et du suivi du test à la MACIF.<br/>
                    Elles seront conservées pour la durée du test augmentée de trois mois.<br/>
                    Vous disposez de droits d’accès, de rectification, d'effacement, de limitation, d’opposition, le cas échéant de portabilité et de définir des directives relatives à la conservation, à l’effacement et à la communication de vos données à caractère personnel après votre décès.<br/>
                    Vous pouvez retirer votre consentement aux traitements des données ce qui aura pour effet de les faire cesser.<br/>
                    Vous pouvez exercer vos droits et adresser toute demande d’information concernant vos données personnelles, sur le site www.macif.fr depuis le formulaire d’exercice des droits (indiquer "DOMPLUS" en commentaire) ou par voie postale à : MACIF - Direction Générale - 2 et 4 rue de Pied de Fond - 79 037 Niort Cedex 9.<br/>
                    Vous avez également le droit d'introduire une réclamation auprès de la CNIL (www.cnil.fr ).
                </em>
            </div>
        </div>
        <br/>
        <br/>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $('#submit_inscription').on('click', function(){

            if($('#submit_inscription').html() === 'VALIDER'){
                $('#submit_inscription').html('Chargement...');
                var dataToSend = {
                    firstname : $('[name="firstname"]').val(),
                    lastname : $('[name="lastname"]').val(),
                    email : $('[name="email"]').val(),
                    phone : $('[name="phone"]').val(),
                    member_num : $('[name="member_num"]').val(),
                    password : $('[name="password"]').val(),
                    password2 : $('[name="password2"]').val()
                };

                $.ajax({
                    method: "POST",
                    url: "{{ path('ws_inscription') }}",
                    dataType: 'json',
                    data: dataToSend
                }).done(function( response ) {
                    if(response.error !== undefined){
                        swal.fire({
                            title: response.error,
                            text: response.msg,
                            icon: "error",
                            confirmButtonText: "Fermer"
                        });

                        if(Array.isArray(response.input_name)) {
                            $.each(response.input_name, function(index, value) {
                                $('input[name^="' + value + '"]').css('border', 'solid 2px #ff9898');
                            });
                        }
                        else {
                            $('input[name^="' + response.input_name + '"]').css('border', 'solid 2px #ff9898');
                        }

                        $('#submit_inscription').html('VALIDER');
                    }else{
                        swal.fire({
                            title: 'Inscription validée',
                            text: 'Un email vous a été transmis. Veuillez confirmer votre email afin de continuer l\'inscription',
                            icon: "success",
                            confirmButtonText: "Fermer"
                        });
                        $('input').css('border', '1px solid rgb(210, 210, 210)');
                        $('#submit_inscription').html('Email transmis');
                    }
                });
            }
        });
    </script>
    {{ parent() }}
{% endblock %}
