{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row bg-blue">
            <div class="col-xs-12 blue-header">
                MERCI POUR VOTRE INSCRIPTION
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                <img style="" src="{{ asset('img/global_design/logo_MACIF_V2.png') }}" title="{{ attrTitle }}" class="img-responsive" alt=""/>
            </div>
        </div>

        <br/><br/>

        {% if success is defined %}
            <div class="row">
                <div class="col-xs-12">
                    <p style="text-align: center">
                        Votre email a bien été validé, veuillez cliquer sur le lien ci-dessous afin de vous connecter :
                    </p>
                    <br/>
                    <br/>
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                            <form action="{{ path('checkout', {'hashId': hash_id }) }}" method="post">
                                {% if error is defined %}
                                    <div class="alert-danger alert">Code promo invalide</div>
				{% endif %}
				<!-- <input type="text" class="form-control input-lg" name="stripeToken" placeholder="Code Promo"/> -->
                                <br/>
                                <input type="submit" class="btn btn-lg btn-default"
                                       style="width: 100%;background-color: #0a2d82;border-color: #0a2d82;color: white;"
                                       value="Finaliser votre inscription" />

                                {#<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"#}
                                        {#data-key="{{ publishable_key }}"#}
                                        {#data-description="Souscription à la carte numérique"#}
                                        {#data-amount="{{ appInfo.subscriptionPrice*100 }}"#}
                                        {#data-currency="eur"#}
                                        {#data-email="{{ email }}"#}
                                        {#data-label="SOUSCRIPTION"#}
                                        {#data-name="ELSAN"#}
                                        {#data-image="{{ asset('img/icons/launcher-icon-4x.png') }}"#}
                                        {#data-allow-remember-me="false"#}
                                        {#data-locale="auto">#}
                                {#</script>#}
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        {% else %}
            <div class="row">
                <div class="col-xs-12">
                    <p>{{ error }}</p>
                </div>
            </div>

        {% endif %}

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
