{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container-fluid" style="border: none;">
        <!-- HEADER DESKTOP -->
        <div class="row" style="">
            <div class="col-lg-6 height d-none d-lg-block">
                <div class="mt-5 mx-auto" style="max-width: 600px; width: 60%;">
                    <img src="{{ asset('img/global_design/logo_MACIF_V2.png') }}" alt="" style="width: 70%;" title="solidarité coups durs" />
                    <img src="{{ asset('img/global_design/logo_macif_mini.png') }}" alt="" style="width: 20%" title="Macif" />
                </div>
            </div>
            <div class="col-lg-6 height d-none d-lg-block" style="background-color: #042b87; padding: 0;">
                <img src="{{ asset('img/global_design/top_picture.png') }}" alt="" title="{{ attrTitle }}" id="main-logo" />
            </div>
        </div>
        <!-- HEADER TABLET & MOBILE -->
        <div class="row d-md-block d-lg-none">
            <div class="col-12">
                <div class="row">
                    <div class="col-6 height" style="vertical-align: middle;text-align: center">
                        <img class="mx-auto mt-5" src="{{ asset('img/global_design/logo_MACIF_V2.png') }}" alt="" style="width: 100%;" title="solidarité coups durs" />
                    </div>
                    <div class="col-6 height" style="padding:0;">
                        <img src="{{ asset('img/global_design/people.png') }}" alt="" style="width: 100%; max-width: 370px; float: right;" title="{{ attrTitle }}" id="" />
                    </div>
                </div>
            </div>
            <div class="col-12" style="padding:0;">
                <img src="{{ asset('img/global_design/bottom_baniere.png') }}" alt="" style="width: 100%;" title="Macif" />
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <div class="row bg-blue">
            <div class="col-12 text-center">
                <h2>{{ profile.firstname|capitalize }} {{ profile.lastname|upper }}</h2>
                <br/>
            </div>
        </div>
        {% if error is defined %}
        <div class="row bg-blue">
            <div class="col-10 col-offset-1">
                <div class="alert alert-danger">
                    {{ error.msg }}
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row bg-blue" style="height: 52vh; min-height: 650px">
            <div class="col-12" style="text-align: center; padding-bottom: 100px;">
                <br/>
                <a href="javascript:void(0)" data-toggle="modal" data-target="#myModal" id="change-user" title="Changer/Ajouter un utilisateur">
                    <img src="{{ asset('img/proxime/add_user_icon.svg') }}" title="Changer/Ajouter un utilisateur" style="width: 100px;" alt=""/>
                </a>
                <br/>
                <br/>
                <br/>

                <a class="btn btn-lg btn-primary" href="{{ path('logout', {'action':'disconnect'}) }}" id="submit_inscription" title="Déconnexion">DECONNEXION</a>
                <br/><br/>
                <a class="btn btn-md btn-default" href="{{ path('main', {'page':'accueil'}) }}" title="Annuler">Annuler</a>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Ajouter / Changer d'utilisateur</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body" id="change-user-body">
                    {% for key, user in usersStored %}
                        <a href="{{ path('changeuser', {'user_id':key}) }}" title="Se connecter sur le compte de {{ user.firstname }}">
                        <div class="btn-change-user"><i class="fa fa-user-circle-o"></i> {{ user.firstname|capitalize }} {{ user.lastname|upper }}</div>
                        </a>
                    {% endfor %}
                    <br/>
                    <a href="{{ path('logout', {'action':'changeuser'}) }}" title="Se connecter avec un autre compte">
                        <div class="btn-add-user"><i class="fa fa-user-plus"></i> Autre</div>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if success_message is defined %}
        <script type="text/javascript">
            swal.fire({
                title: 'Paiement validée',
                text: 'Votre paiement a été validé. Connectez-vous dès à présent afin d\'utiliser tous les services votre espace Service Solidarité Coups Durs',
                icon: "success",
                confirmButtonText: "Fermer"
            });
        </script>
    {% endif %}
    <script>
        // if (window.matchMedia('(display-mode: standalone)').matches) {
        //     console.log(window.matchMedia('(display-mode: standalone)').matches);
        // }else{
        //     console.log(window.matchMedia('(display-mode: standalone)').matches);
        //     addToHomescreen();
        // }
    </script>

{% endblock %}