{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container">

        <div id="services" style="text-align: left;">
            <div class="row">
                <div class="col-12 blue-header text-center" style="font-size: 1.5em">
                    <img src="{{ asset('img/lock_icon.svg') }}" title="Mot de passe oublié" alt="" style="width:1.3em; margin-right: 10px; vertical-align: baseline;"/>  Mot de passe oublié - 1/2
                </div>
            </div>

            <div class="row text-center">
                <div class="col-12">
                    <br/>
                    <br/>
                    <strong>Vous avez oublié votre mot de passe ?</strong>
                    <br/>
                    <br/>
                    <p>
                        Pour réinitialiser votre mot de passe, saisissez l'adresse Email que vous avez associée à votre souscription.
                    </p>
                    <br/>
                    <br/>
                </div>
            </div>
            <div class="row">
                <div class="col-6 offset-3">
                    <input type="email" name="email" class="form-control" value="" placeholder="Email"/>
                </div>
            </div>
            <div class="row">
                <div class="col-6 offset-3">
                    <br/>
                    <br/>
                    <a href="javascript:void(0)" id="resetPassword" class="btn btn-primary btn-lg col-12">ENVOYER</a>
                    <br/>
                    <br/>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $('#resetPassword').on('click', function(){

            if($('#resetPassword').html() === 'ENVOYER'){
                $('#resetPassword').html('Chargement...');
                var dataToSend = {
                    email : $('[name="email"]').val(),
                };

                $.ajax({
                    method: "POST",
                    url: "{{ path('ws_password') }}",
                    dataType: 'json',
                    data: dataToSend
                }).done(function( response ) {
                    if(response.error !== undefined){
                          swal.fire({
                            title: 'Mot de passe oublié',
                            text: 'Si votre adresse est correct, un email vous a été transmis sur celle-ci. Veuillez confirmer votre email afin de continuer la procédure de réinitialisation',
                            icon: "success",
                            confirmButtonText: "Fermer"
                          });
                        $('#resetPassword').html('ENVOYER');
                    }else{
                        swal.fire({
                            title: 'Mot de passe oublié',
                            text: 'Un email vous a été transmis. Veuillez confirmer votre email afin de continuer la procédure de réinitialisation',
                            icon: "success",
                            confirmButtonText: "Fermer"
                        });
                        $('#resetPassword').html('Email transmis');
                    }
                });
            }
        });
    </script>
    {{ parent() }}
{% endblock %}