{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container">

        <div id="services" style="text-align: left;">
            <div class="row">
                <div class="col-12 blue-header" style="font-size: 1.5em">
                    <img src="{{ asset('img/lock_icon.svg') }}" title="Mot de passe oublié" alt="" style="width:1.3em; margin-right: 10px; vertical-align: baseline;"/>  Mot de passe oublié - 2/2
                </div>
            </div>

            <div class="row">
                <div class="col-12 text-center">
                    <br/>
                    <br/>
                    <strong>Réinitialisez votre mot de passe</strong>
                    <br/>
                    <br/>
                    <p>
                        Veuillez saisir votre nouveau mot de passe.
                    </p>
                    <br/>
                </div>
            </div>
            <div class="row">
                <div class="col-8 col-offset-2">
                    <input type="password" name="password" class="form-control" value="" autocomplete="off" placeholder="Mot de passe* (au moins 8 lettres et un chiffre sans caractères spéciaux)"/>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-8 col-offset-2">
                    <input type="password" name="password2" class="form-control" value="" autocomplete="off" placeholder="Confirmation du mot de passe*"/>
                </div>
            </div>
            <div class="row">
                <div class="col-12" style="text-align: center">
                    <br/>
                    <br/>
                    <a href="javascript:void(0)" id="resetPassword" class="btn btn-primary btn-lg" style="min-width: 250px;">ENVOYER</a>
                    <br/>
                    <br/>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $('#resetPassword').on('click', function(){

            if($('#resetPassword').html() === 'ENVOYER'){
                $('#resetPassword').html('Chargement...');
                var dataToSend = {
                    password : $('[name="password"]').val(),
                    password2 : $('[name="password2"]').val(),
                };

                $.ajax({
                    method: "POST",
                    url: "{{ path('ws_resetpassword', {'hashId': hash_id }) }}",
                    dataType: 'json',
                    data: dataToSend
                }).done(function( response ) {
                    if(response.error !== undefined){
                        swal.fire({
                            title: response.error,
                            text: response.msg,
                            icon: "error",
                            confirmButtonText: "Fermer"
                        });
                        $('#resetPassword').html('ENVOYER');
                    }else{
                        swal.fire({
                            title: 'Mot de passe modifié',
                            text: 'Votre mot de passe a été modifié avec succès',
                            icon: "success",
                            confirmButtonText: "Fermer"
                        });
                        $('#resetPassword').html('Retour à la page de connexion');
                        $('#resetPassword').attr('href', "{{ path('auth') }}");
                        $('#resetPassword').attr('title', "Retour à la page de connexion");

                    }
                });
            }
        });
    </script>
    {{ parent() }}
{% endblock %}