{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container-fluid" style="">
        <a href="{{ path('main', {'page':'conseillerpersonnel'}) }}" title="Contacter mon conseiller personnel">
            <div class="contactWidget">
                <i class="fa fa-comments" aria-hidden="true"></i>
            </div>
        </a>
        {% if userInfo.profile.role != 'CLIENT' %}

            <div class="row bg-blue">
                <div class="col-12 blue-header">
                    IDENTIFICATION
                </div>
            </div>

            <br/><br/>

            <div class="row">
                <div class="col-6 offset-3">
                    Service Solidarité Coups Durs
                </div>
            </div>

            <br/><br/>

            <div class="row">
                <div class="col-12">
                    <p style="text-align: center">
                        Il semble que votre session a expiré.<br/>
                        Veuillez vous déconnecter et vous connecter à nouveau.
                    </p>
                </div>
            </div>
            <br/>
            <br/>
        {% else %}

                <div class="row">
                    <div class="col-12 blue-header responsive-font-size" style="text-align: center; font-size: 1.5em;">
                        <a href="{{ url('auth') }}">
                            <img src="{{ asset('img/global_design/logo_MACIF_V2.png') }}"
                                 alt="" title="" class="d-none d-sm-block"
                                 style="position: absolute; left:0; top:0; height: 100%; background: white; padding: 10px;"
                            />
                        </a>
                        <span class="d-sm-none" style="position: absolute; left: 20px;" >
                            <a href="/theme/{{ theme.category }}" title="Précédent" style="color:white;">
                                <i class="fa fa-arrow-circle-o-left" style="font-size: 35px;"></i>
                            </a>
                        </span>
                        <span style="vertical-align: middle;">www.macif-solidarite.fr</span>
                        <span style="position: absolute; right: 20px; top: 20px; top: 50%;transform: translateY(-50%);">
                            <a id="menu" data-toggle="modal" href="#menuModal"  style="color:white;">
                                <span style="font-size: 10px">Menu</span><br/>
                                <i class="fa fa-bars" style="font-size: 30px; margin-top: -5px;"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 white-header responsive-font-size" style="padding: 20px !important; text-align: center; font-size: 1.5em;">
                        <span class="d-none d-sm-block" style="position: absolute; left: 20px;" >
                            <a href="/theme/{{ theme.category }}" title="Précédent" style="color:white;">
                                <i class="fa fa-arrow-circle-o-left" style="font-size: 35px; color: #83d0f4"></i>
                            </a>
                        </span>
                        <img src="{{ asset('img/global_design/icon/documents.png') }}" alt="" width="30"> {{ theme.title }}
                    </div>
                </div>
                {% if theme.type == 'video' %}

                <div class="row blue-header2" style="padding: 0 !important;">
                    <video controls width="100%" autoplay ><source src="/{{ theme.url }}" type="video/mp4"></video>
                </div>

                {% elseif theme.type == 'e-learning' %}

                    <iframe src="{{ theme.url }}" width="100%" style="height: 80vh"></iframe>

                {% else %}

                <div class="row blue-header2" style="padding: 0 !important;">
                    <div class="col-md-6" id="header-picture" style="padding:0 !important;">
                        <div style="height: 100%;
                                min-height: 300px;
                                background-image: url({{ theme.picture }});
                                background-repeat: no-repeat;
                                background-size: cover;
                                background-position: center center">

                        </div>
                    </div>
                    <div class="col-md-6" id="header-text" style="padding: 50px !important; font-size: 17px;">
                        {{ theme.header | raw | nl2br }}
                    </div>
                </div>

                {% endif %}

                <div class="row" style="margin-top: 20px">
                    <div class="col-md-8 offset-md-2">

                        <div class="accordion" id="accordionSousThemes">
                            {% for soustheme in theme.soustheme %}
                                {% set average = 0 %}
                                {% set cpt = 0 %}
                                {% set result = 0 %}
                                {% set userRating = 0 %}
                                {% set hasMark = false %}
                                {% for rating in soustheme.ratings %}
                                    {% set result = result + rating.rate %}
                                    {% set cpt = cpt +1 %}
                                    {% if rating.user.id == userInfo.profile.id %}
                                        {% set userRating = rating.rate %}
                                        {% set hasMark = true %}
                                    {% endif %}
                                {% endfor %}
                                {% if cpt == 0 %}
                                    {% set average = 0 %}
                                {% else %}
                                    {% set average = result / cpt %}
                                {% endif %}



                                <div class="card mb-1" style="border-color: #83d0f5 !important;">
                                    <div class="card-header p-0" id="heading-{{ soustheme.id }}" style="background-color: #83d0f5 !important;">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse-{{ soustheme.id }}" aria-expanded="true" aria-controls="collapse-{{ soustheme.id }}">
                                                <div style="padding: 15px;">
                                                    {{ soustheme.title }}
                                                    <i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
                                                </div>
                                            </button>
                                        </h2>
                                    </div>

                                    <div id="collapse-{{ soustheme.id }}" class="collapse" aria-labelledby="heading-{{ soustheme.id }}" data-parent="#accordionSousThemes" style="border-color: #83d0f5 !important;">
                                        <div class="card-body">
                                            {{ soustheme.content | raw | nl2br }}

                                            {% if (appinfo.hideRatingAfterMark and hasMark == false) or appinfo.hideRatingAfterMark == false %}
                                                <div class="rating-wrapper">
                                                    Notez ce contenu <br/>
                                                    <em>{{ average|number_format(0, ',', ' ') }}/5</em>
                                                    <div class="rating" data-content-id="{{ soustheme.id }}" data-rate-value={{ userRating }} ></div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>


                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <a href="{{ path('main', {'page':'conseillerpersonnel'}) }}" title="Mon conseiller personnel">
                            <div class="domplus-brown-button">
                                <img src="{{ asset('img/global_design/icon/operator.png') }}" title="Mon conseiller personnel" alt="" /> CONTACTER MON CONSEILLER PERSONNEL
                            </div>
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 text-center">
                        <div class="scroll-top">
                            <i class="fa fa-chevron-circle-up"></i>
                            <br>
                            Revenir en haut
                        </div>
                    </div>
                </div>

        {% endif %}

        <br/><br/>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/plugins/rater/rater.min.js') }}"></script>

    <script type="text/javascript">
      adjustPictureHeight();

      function adjustPictureHeight () {
        var headerText =$('#header-text').css('height');
        document.getElementById('header-picture').style.height = headerText > '300px' ? headerText : '300px' ;
      }

      var options = {
        max_value: 5,
        step_size: 1,
      };
      $(".rating")
        .rate(options)
        .on('click',  function() {
            var dataToSend = {
                rate: $(this).rate("getValue"),
                soustheme_id: $(this).data('content-id')
            };
            $(this).parent().css('display', 'none');

            $.ajax({
                method: "POST",
                url: Routing.generate('ws_rating'),
                dataType: 'json',
                data: dataToSend
            }).done(function( response ) {
                if(response.error !== undefined){
                  swal.fire({
                    title: response.title,
                    text: response.error,
                    icon: "error",
                    confirmButtonText: "Fermer"
                  })
                }else{
                  swal.fire({
                    title: 'Merci !',
                    text: 'Votre note a bien été prise en compte et sera comptabilisée dès le prochain rafraichissement de votre page',
                    icon: "success",
                    confirmButtonText: "Fermer"
                  });
                }
            });
      });


      /*
      * Event Click Collapse change font awesome icon
       */
      $('.collapsed').click(function(){
          $(this).find("i").toggleClass('fa-angle-right fa-angle-down');
      });



    </script>

{% endblock %}
