{% extends 'main/themes.html.twig' %}


{% block content %}
    <div class="row" style="margin-top: 20px;">
        <div class="col-6 col-md-3">
            {% for valuesouscategorie,titlesouscategorie in souscategorie %}
            <div class="sous-categorie-button" style="" c-value="{{ valuesouscategorie }}">
                <div style="text-align: left;height: 100%;" class="row">
                    <div  class="col-8 p-4">
                        {{titlesouscategorie | raw}}
                    </div>
                    <div class="arrow-menu col-4 p-4"  c-value="{{ valuesouscategorie }}">
                        <img src="{{ asset('/img/global_design/icon/arrow-right.png') }}" alt="" style="max-height:40px;"/>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-6 col-md-9">
            {% for theme in themes %}
                {% if theme.type == 'fiche' %}
                    <a onclick="track('CONSULT_CONTENT', '{{ theme.id }}', '{{ theme.title|escape('js') }}', 'content')" href="{{ path('soustheme', {'theme_id': theme.id}) }}" class="domplus-theme-link {{ theme.souscategory }}">
                        <div class="domplus-yellow-button">
                            <img src="{{ asset('img/chevron-right.png') }}" alt="" height="30" style="position: absolute; right: 25px; margin-top: 10px;"/>
                            <div style="display: inline-block; width: 15%; padding-top: 7px; min-width:35px; vertical-align: top; text-align: center;" ><img src="{{ asset('img/global_design/icon/documents.png') }}" alt="" style="width:70%; max-width: 70px"></div>
                            <div style="display: inline-block; width: 75%" class="themeTitle">
                                <span class="icon-legend">Fiche conseil</span>
                                <br/><br class="hidden-lg hidden-md hidden-sm visible-xs" />
                                {{ theme.title }}
                            </div>
                        </div>
                    </a>
                {% elseif theme.type == 'e-learning' %}
                    <a href="{{ path('soustheme', {'theme_id': theme.id}) }}" onclick="track('CONSULT_E_LEARNING', '{{ theme.id }}', '{{ theme.title|escape('js') }}', 'e-learning')" class="domplus-theme-link {{ theme.souscategory }}">
                        <div class="domplus-yellow-button">
                            <img src="{{ asset('img/chevron-right.png') }}" alt="" height="30" style="position: absolute; right: 25px; margin-top: 10px;"/>
                            <div style="display: inline-block; width: 15%; padding-top: 7px; min-width:35px; vertical-align: top; text-align: center;" ><img src="{{ asset('img/global_design/icon/formations.png') }}" alt="" style="width:70%; max-width: 70px"></div>
                            <div style="display: inline-block; width: 75%" class="themeTitle">
                                <span class="icon-legend">Module e-learning</span>
                                <br/>
                                <br class="hidden-lg hidden-md hidden-sm visible-xs" />
                                {{ theme.title }}
                            </div>
                        </div>
                    </a>

                {% elseif theme.type == 'video' %}
                    {% if theme.expirationDate == '' or "now"|date('Y-m-d') < theme.expirationDate|date('Y-m-d') %}
                        <a href="{{ path('soustheme', {'theme_id': theme.id}) }}" onclick="track('CONSULT_VIDEO', '{{ theme.id|escape('js') }}', '{{ theme.title|escape('js') }}', 'video')" class="domplus-theme-link {{ theme.souscategory }}">
                            <div class="domplus-yellow-button">
                                <img src="{{ asset('img/chevron-right.png') }}" alt="" height="30" style="position: absolute; right: 25px; margin-top: 10px;"/>
                                <div style="display: inline-block; width: 15%; padding-top: 7px; min-width:35px; vertical-align: top; text-align: center;" ><img src="{{ asset('img/global_design/icon/formations.png') }}" alt="" style="width:70%; max-width: 70px"></div>
                                <div style="display: inline-block; width: 75%" class="themeTitle">
                                    <span class="icon-legend">Vidéo</span>
                                    <br/><br class="hidden-lg hidden-md hidden-sm visible-xs" />
                                    {{ theme.title }}
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% elseif theme.type == 'external-video' %}
                    {% if theme.expirationDate == '' or "now"|date('Y-m-d') < theme.expirationDate|date('Y-m-d') %}
                        <a href="{{ theme.url }}" target="_blank" onclick="track('CONSULT_VIDEO', '{{ theme.id|escape('js') }}', '{{ theme.title|escape('js') }}', 'external-video')" class="domplus-theme-link {{ theme.souscategory }}">
                            <div class="domplus-yellow-button">
                                <img src="{{ asset('img/chevron-right.png') }}" alt="" height="30" style="position: absolute; right: 25px; margin-top: 10px;"/>
                                <div style="display: inline-block; width: 15%; padding-top: 7px; min-width:35px; vertical-align: top; text-align: center;" ><img src="{{ asset('img/global_design/icon/formations.png') }}" alt="" style="width:70%; max-width: 70px"></div>
                                <div style="display: inline-block; width: 75%" class="themeTitle">
                                    <span class="icon-legend">Vidéo</span>
                                    <br/><br class="hidden-lg hidden-md hidden-sm visible-xs" />
                                    {{ theme.title }}
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% else %}
                    {#set UrlQuizz#}
                    {% set urlQuizz = '' %}
                    {% for userKey,userValue in userInfo %}
                        {% if userKey == theme.header %}
                            {% set urlQuizz = userValue %}
                        {% endif %}
                    {% endfor %}

                    {% if urlQuizz is not null %}

                        <a href="{{ urlQuizz }}" target="_blank" onclick="track('CONSULT_QUIZZ', '{{theme.header }}', '{{theme.header }}', 'quizz')" class="domplus-theme-link {{ theme.souscategory }}">
                            <div class="domplus-yellow-button">
                                <img src="{{ asset('img/chevron-right.png') }}" alt="" height="30" style="position: absolute; right: 25px; margin-top: 10px;"/>
                                <div style="display: inline-block; width: 15%; padding-top: 7px; min-width:35px; vertical-align: top; text-align: center;" ><img src="{{ asset('img/global_design/icon/quiz.png') }}" alt="" style="width:70%; max-width: 70px"></div>
                                <div style="display: inline-block; width: 75%" class="themeTitle"><span class="icon-legend">Quiz</span>
                                    <br/><br class="hidden-lg hidden-md hidden-sm visible-xs" />
                                    {{ theme.title }}
                                </div>
                            </div>
                        </a>
                    {% endif %}

                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block javascripts %}

    <script type="text/javascript">

        $(function () {

            var currentSousCategorie = '{{ souscategorie|keys|first }}';

      $('a.domplus-theme-link').hide();
      $('a[class$="' + currentSousCategorie + '"]').show();

      $('.sous-categorie-button[c-value="' + currentSousCategorie + '"]')
        .addClass('active');

      $('div[c-value="' + currentSousCategorie + '"]')
        .removeClass('hidden');

      $('.sous-categorie-button').click( function() {

        currentSousCategorie = $(this).attr('c-value');

        $('div[class^="sous-categorie-button"]')
          .removeClass('active');

        $('.arrow-menu').addClass('hidden');

        $('.sous-categorie-button[c-value="' + currentSousCategorie + '"]')
          .addClass('active');

        $('div[c-value="' + currentSousCategorie + '"]')
          .removeClass('hidden');

        $('a.domplus-theme-link').hide();
        $('a[class$="' + currentSousCategorie + '"]').show();


      });
      $( document ).ready(function() {
          $('.sous-categorie-button').hover( function() {
              currentSousCategorie = $(this).attr('c-value');

              $('div[class^="sous-categorie-button"]')
                  .removeClass('active');

              $('.arrow-menu').addClass('hidden');

              $('.sous-categorie-button[c-value="' + currentSousCategorie + '"]')
                  .addClass('active');

              $('div[c-value="' + currentSousCategorie + '"]')
                  .removeClass('hidden');

              $('a.domplus-theme-link').hide();
              $('a[class$="' + currentSousCategorie + '"]').show();

          });
      });
        });

    </script>

    <script type="text/javascript">
      function track(actionName, contentId, contentTitle, type){
        var dataToSend = {
          action_name : actionName,
          content_id: contentId,
          content_title: contentTitle,
          content_type: type
        };

        $.ajax({
          method: "POST",
          url: "{{ path('ws_track') }}",
          dataType: 'json',
          data: dataToSend
        }).done(function( response ) {
        });
      }
    </script>

{% endblock %}
