{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block content %}
    <div class="container-fluid">

        <a href="{{ path('main', {'page':'conseillerpersonnel'}) }}" title="Contacter mon conseiller personnel">
            <div class="contactWidget">
                <i class="fa fa-comments" aria-hidden="true"></i>
            </div>
        </a>
        {% if userInfo.profile.role != 'CLIENT' %}

            <div class="row bg-blue">
                <div class="col-12 blue-header">
                    IDENTIFICATION
                </div>
            </div>

            <br/><br/>

            <div class="row">
                <div class="col-6 col-offset-3">
                    MACIF SOLIDARITÉ COUPS DURS
                </div>
            </div>

            <br/><br/>

            <div class="row">
                <div class="col-12">
                    <p style="text-align: center">
                        Il semble que votre session a expiré.<br/>
                        Veuillez vous déconnecter et vous connecter à nouveau.
                    </p>
                </div>
            </div>
            <br/>
            <br/>
        {% else %}

            <div id="accueil">
                <div class="row">
                    <div class="col-12 blue-header" style="text-align: center; font-size: 1.5em;">
                        <a href="{{ url('auth') }}">
                            <img src="{{ asset('img/global_design/logo_MACIF_V2.png') }}"
                                 alt="" title="" class="d-none d-md-block"
                                 style="position: absolute; left:0; top:0; height: 100%; background: white; padding: 10px;"
                            />
                        </a>
                        <span class="d-md-none" style="position: absolute; left: 20px;" >
                            <a href="/accueil" title="Précédent" style="color:white;">
                                <i class="fa fa-arrow-circle-o-left" style="font-size: 35px;"></i>
                            </a>
                        </span>
                        <span style="vertical-align: middle;">www.macif-solidarite.fr</span>
                        <span style="position: absolute; right: 20px; top: 50%;transform: translateY(-50%);">
                            <a id="menu" data-toggle="modal" href="#menuModal"  style="color:white;">
                                <span style="font-size: 10px">Menu</span><br/>
                                <i class="fa fa-bars" style="font-size: 30px; margin-top: -5px;"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div  class="col-12 white-header responsive-font-size" style="text-align: center; font-size: 1.5em; ">
                        <span class="d-none d-md-block" style="position: absolute; left: 20px;" >
                            <a href="/accueil" title="Précédent" style="color:white;">
                                <i class="fa fa-arrow-circle-o-left" style="font-size: 35px; color: #83d0f4"></i>
                            </a>
                        </span>
                        <img src="{{ icone }}" title="{{ title }}" alt="" style="width:50px; margin-right: 10px; vertical-align: middle; background: white;"/> {{ title }}
                    </div>
                </div>
                {% if category == 'fragilite' %}
                    {%
                        set souscategorie = {
                            'gerer_budget_quotidien': 'Gérer son budget au quotidien',
                            'sortir_des_difficultes': 'Sortir des difficultés',
                        }
                    %}
                    {% include '/main/subcategorie.html.twig' with souscategorie %}
                {% elseif category == 'relation' %}
                    {%
                        set souscategorie = {
                            'accompagner_proche': 'Accompagner un proche',
                            'mieux_vivre_aidant': 'Mieux vivre son rôle d\'aidant',
                        }
                    %}
                    {% include '/main/subcategorie.html.twig' with souscategorie %}
                {% elseif category == 'aleas' %}
                    {%
                        set souscategorie = {
                            'faire_face_deces': 'Faire face au décès et au deuil',
                            'gerer_divorce': 'Gérer un divorce / une séparation',
                            'parcours_hospi': 'Bien vivre son parcours d\'hospitalisation',
                            'rebondir': 'Rebondir suite à la perte de son emploi',
                        }
                    %}
                    {% include '/main/subcategorie.html.twig' with souscategorie %}
                {% elseif category == 'equilibre' %}
                    {%
                        set souscategorie = {
                            'probleme_sante': 'Traverser un problème de santé',
                            'vie_famille': 'Prendre soin de sa vie de famille',
                            'liberer_tension': 'Libérer les tensions',
                        }
                    %}
                    {% include '/main/subcategorie.html.twig' with souscategorie %}
                {% endif %}
                <div class="row">
                    <div class="col-12">
                        <div class="scroll-top">
                            <i class="fa fa-chevron-circle-up"></i>
                            <br>
                            Revenir en haut
                        </div>
                    </div>
                </div>
            </div>

        {% endif %}

        <br/><br/>
    </div>
{% endblock %}


{% block javascripts %}
{% endblock %}