{% extends 'base.html.twig' %}

{% block stylesheets %}
    <!-- Include Editor style. -->
    <link href='{{ asset('css/froala_editor.min.css') }}' rel='stylesheet' type='text/css' />
    <link href='{{ asset('css/froala_style.min.css') }}' rel='stylesheet' type='text/css' />
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container">


            <div id="accueil">
                <div class="row">
                    <div class="col-xs-12 headtitle-w-name">
                        <span class="pull-left"><a href="javascript:void(0);" onclick="window.history.back();" title="Précédent" style="color:white;"><i class="fa fa-arrow-circle-o-left" style="font-size: 35px;"></i></a></span>
                        <span class="pull-right"><a href="{{ url('auth') }}" title="Retour à l'accueil" style="color:white;"><i class="fa fa-home" style="font-size: 35px;"></i></a></span>
                    </div>
                </div>
                <div class="row">
                    <a href="#" title="{{ soustheme.title }}" >
                        <div class="col-xs-12 blue-header" style="border-bottom: white solid 1px; text-align: center; font-size: 1.5em; ">
                            {{ soustheme.title }}
                        </div>
                    </a>
                </div>

                {% if soustheme.picture != '' %}
                <div class="row" style="height: 270px; background-image: url({{ soustheme.picture }}); background-repeat: no-repeat; background-size: cover">

                </div>
                {% endif %}
                <br/>

                <div class="row">
                    <div class="domplus-yellow-box">{{ soustheme.content | raw | nl2br }}</div>
                </div>

                <form method="post" action="{{ path('wysiwyg', {'soustheme_id': soustheme.id}) }}">
                    <div class="row" style="text-align: left;">
                        <textarea name="soustheme_content">{{ soustheme.content | raw | nl2br  }}</textarea>
                    </div>
                    <br/>
                    <input class="btn btn-primary col-xs-12" type="submit" value="Sauvegarder"/>
                </form>

                <br/><br/>

            </div>
            <br/><br/>
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <!-- Include JS file. -->
    <script type='text/javascript' src='{{ asset('js/froala_editor.min.js') }}'></script>
    <script type='text/javascript' src='{{ asset('js/plugins/align.min.js') }}'></script>
    <script type='text/javascript' src='{{ asset('js/plugins/url.min.js') }}'></script>
    <script type='text/javascript' src='{{ asset('js/plugins/link.min.js') }}'></script>
    <script type='text/javascript' src='{{ asset('js/plugins/code_view.min.js') }}'></script>
    <script type='text/javascript' src='{{ asset('js/plugins/lists.min.js') }}'></script>
    <!-- Initialize the editor. -->
    <script>
        $(function() {
            $('textarea').froalaEditor({
                enter: $.FroalaEditor.ENTER_BR,
                toolbarButtons: ['bold', 'italic', 'underline', '|', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'insertLink', 'clearFormatting', 'undo', 'redo', 'html'],
                toolbarButtonsMD: ['bold', 'italic', 'underline', '|', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'insertLink', 'clearFormatting', 'undo', 'redo', 'html'],
                toolbarButtonsSM: ['bold', 'italic', 'underline', '|', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'insertLink', 'clearFormatting', 'undo', 'redo', 'html'],
                toolbarButtonsXS: ['bold', 'italic', 'underline', '|', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'insertLink', 'clearFormatting', 'undo', 'redo', 'html'],
            });

            $('div[style*="z-index: 9999;width: 100%; position: relative"]').hide();
        });
    </script>

    <script type="text/javascript">
        track("CONSULT_FICHE", {{ soustheme.id }}, '{{ soustheme.title|escape('js') }}', 'fiche');

        function track(actionName, contentId, contentTitle, type){
            var dataToSend = {
                action_name : actionName,
                content_id: contentId,
                content_title: contentTitle,
                content_type: type
            };

            $.ajax({
                method: "POST",
                url: "{{ path('ws_track') }}",
                dataType: 'json',
                data: dataToSend
            }).done(function( response ) {
            });
        }
    </script>
{% endblock %}